<template>
  <div class="new-poll">
    <v-row no-gutters justify="center">
      <v-col cols="12" class="text-center">
        <v-card class="pa-4 new-poll__title py-4">
          <v-card-text class="pt-6 pb-0">
            <v-form lazy-validation ref="title-form">
              <v-text-field label="Titulo" v-model="title" :rules="[rules.required]"></v-text-field>
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" class="text-center py-4" v-for="(question, index) in questions" :key="question.id">
        <question
          :class="selectedQuestion === index ? 'question--selected' : ''"
          :question="question"
          :ref="`question-${index}`"
          @select="selectQuestion(index)"
          @remove="removeQuestion(index)"
        />
      </v-col>
      <v-col cols="12" class="text-center py-4 mb-10">
        <v-btn icon large @click="addQuestion">
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </v-col>
    </v-row>
    <v-btn
      color="success"
      dark
      absolute
      bottom
      style="left: calc(50% - 125px);"
      width="250px"
      x-large
      @click="createPoll"
      >Crear</v-btn
    >
  </div>
</template>

<script lang="ts">
import { Mixins, Component } from "vue-property-decorator";
import Question from "@/components/Course/Polls/Question.vue";
import { RulesMixin } from "@/mixins/rules";
import { NotificationsMixin } from "@/mixins/notifications";
import { createPoll } from "@/services/polls";
import { NewPollType } from "@/models/poll";

@Component({
  components: {
    Question
  }
})
export default class NewPoll extends Mixins(RulesMixin, NotificationsMixin) {
  $refs!: {
    "title-form": HTMLFormElement;
  };
  private snackbar = true;
  private selectedQuestion = -1;
  private title = "";
  private questions = [
    {
      id: Math.floor(Math.random() * (999 - 100 + 1) + 100),
      type: "simple",
      position: 0,
      question: "Pregunta",
      options: ["Opcion 1"]
    }
  ];

  private selectQuestion(index: number) {
    this.selectedQuestion = index;
  }

  private addQuestion() {
    this.questions.push({
      id: Math.floor(Math.random() * (999 - 100 + 1) + 100),
      type: "simple",
      position: this.questions.length,
      question: "Pregunta",
      options: ["Opcion 1"]
    });
  }

  private getOpenQuestions(): Array<{ text: string; position: number }> {
    return this.questions
      .filter(question => {
        return question.type == "simple";
      })
      .map(question => {
        return {
          text: question.question,
          position: question.position
        };
      });
  }
  private getMultipleQuestions(): Array<{
    text: string;
    position: number;
    isMultipleSelect: boolean;
    choices: Array<{ text: string }>;
  }> {
    return this.questions
      .filter(question => {
        return question.type == "multiple";
      })
      .map(question => {
        return {
          text: question.question,
          position: question.position,
          isMultipleSelect: true,
          choices: question.options.map(option => {
            return {
              text: option
            };
          })
        };
      });
  }

  private validateQuestions(): boolean {
    let isValid = true;
    this.questions.forEach((_question, index) => {
      // @ts-ignore
      const question = this.$refs[`question-${index}`][0];
      if (!question.$refs["question-form"].validate()) {
        isValid = false;
      }
    });
    return isValid;
  }

  private async createPoll() {
    if (this.$refs["title-form"].validate() && this.validateQuestions() && this.questions.length > 0) {
      try {
        const poll: NewPollType = {
          title: this.title,
          openQuestions: this.getOpenQuestions(),
          multipleChoiceQuestions: this.getMultipleQuestions()
        };
        await createPoll(this.universityId, this.$route.params.course, poll);
        this.$router.push({ name: "Polls" });
        this.success("Encuestas", "Se creo la encuesta correctamente");
      } catch (error) {
        this.errorHandling(error);
      }
    }
  }

  private get universityId() {
    return this.$store.state.university.id;
  }

  private removeQuestion(index: number) {
    this.questions.splice(index, 1);
  }
}
</script>

<style lang="scss">
.v-card--link::before {
  background: none !important;
}
</style>

<style lang="scss" scoped>
.new-poll {
  padding: 2rem;
  height: calc(100% - 103px);
  width: 100%;
  position: relative;

  .new-poll__title {
    border-top: 6px solid var(--v-primary-base);
    display: inline-block;
    min-width: 800px;
    max-width: 800px;
  }
  .question--selected {
    border-left: 6px solid var(--v-primary-base);
  }
}

.question-list {
  max-height: 500px;
  overflow-y: auto;
}
</style>
