<template>
  <div class="assignments full-height">
    <v-row no-gutters justify="center">
      <v-col cols="12" sm="12" md="10" lg="8" class="text-center">
        <v-card class="pa-12" style="border-top: 6px solid var(--v-primary-base)">
          <h1 class="display-1 font-weight-bold mb-3">{{ assignment.title }}</h1>
          <h4 class="font-weight-bold mb-3">{{ assignment.text }}</h4>
          <h3 class="font-weight-bold mb-3">
            Estado de la entrega: {{ assignment.deliveredAssigment ? "Entregado" : "Sin entregar" }}
          </h3>
          <h4 class="font-weight-bold mb-3">Fecha limite: {{ toLocalDate(assignment.availableUntil) }}</h4>
          <h4 class="font-weight-bold mb-3">Comentarios: {{ comments }}</h4>
          <file-loader
            v-if="!isProfessorEnrolled"
            @created="updateFile"
            :assignment="assignment.deliveredAssigment"
          ></file-loader>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import { Component, Mixins } from "vue-property-decorator";
import { NotificationsMixin } from "@/mixins/notifications";
import { getAssigment } from "@/services/assigments";
import { Assigment } from "@/models/assigment";
import FileLoader from "@/components/Course/FileLoader.vue";
import { activeGofile } from "@/services/goFile";
import { Enrollment } from "@/models/enrollment";

@Component({
  components: {
    FileLoader
  }
})
export default class Assignment extends Mixins(NotificationsMixin) {
  private assignment: Assigment = {
    id: "",
    title: "",
    text: "",
    availableFrom: "",
    availableUntil: "",
    maxScore: 0,
    deliveredAssigment: {
      id: "",
      score: 0,
      fileUrl: "",
      fileName: "",
      professorComments: ""
    }
  };
  private created() {
    this.getAssignment();
  }

  private updateFile(deliveredAssigment: {
    id: string;
    score: number;
    fileUrl: string;
    fileName: string;
    professorComments: string;
  }) {
    this.assignment.deliveredAssigment = deliveredAssigment;
  }

  private toLocalDate(date: string) {
    const options = { weekday: "long", year: "numeric", month: "long", day: "numeric" };
    const localDate = new Date(date).toLocaleDateString("es-ES", options);
    return localDate;
  }

  private async getAssignment() {
    try {
      this.assignment = await getAssigment(this.$route.params.course, this.$route.params.assignment);
      if (this.assignment.deliveredAssigment) {
        activeGofile(this.assignment.deliveredAssigment.fileUrl.split("/")[4]).catch();
      }
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private get comments() {
    return this.assignment.deliveredAssigment?.professorComments ?? "Sin comentarios";
  }

  private get isProfessorEnrolled(): boolean {
    const enrollment = this.$store.state.userModule.session?.enrollments.find((enrollment: Enrollment) => {
      return enrollment.id == this.$route.params.course;
    });
    return enrollment?.isProfessorEnrollment ?? false;
  }
}
</script>

<style lang="scss" scoped>
.assignments {
  padding: 15px;
  width: 100%;
}
</style>
