<template>
  <calendar-component></calendar-component>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import CalendarComponent from "@/components/Course/Calendar.vue";

@Component({
  components: {
    CalendarComponent
  }
})
export default class Calendar extends Vue {}
</script>
