<template>
  <div class="forums full-height">
    <div class="forums">
      <v-row no-gutters justify="center">
        <v-col cols="12" sm="12" md="10" lg="10" align-self="start">
          <v-col cols="12" class="pt-4">
            <h1 class="display-1 font-weight-medium mb-3">{{ forum.name }}</h1>
          </v-col>
          <v-row no-gutters>
            <v-col cols="12" sm="8" md="8" lg="6">
              <v-text-field
                dense
                hide-details
                v-model="search"
                label="Buscar hilos..."
                prepend-inner-icon="mdi-magnify"
                filled
                rounded
                class="pb-4 ml-5"
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="4" md="4" lg="6" class="text-end pt-3">
              <v-btn
                color="success"
                @click="showAddThread = true"
                :fab="$vuetify.breakpoint.xsOnly"
                :absolute="$vuetify.breakpoint.xsOnly"
                right
                bottom
              >
                <v-icon>mdi-plus</v-icon>
                <span v-if="!$vuetify.breakpoint.xsOnly">Agregar</span>
              </v-btn>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12" sm="12" md="10" lg="10" class="ml-5">
          <transition name="scale-transition" mode="out-in">
            <div v-if="filterData.length != 0">
              <div v-for="(thread, index) in filterData" :key="thread.id">
                <cards>
                  <v-avatar slot="image" class="ma-3" size="72" tile color="#fff">
                    <v-icon size="52">mdi-forum-outline</v-icon>
                  </v-avatar>
                  <v-card-title
                    slot="content"
                    class="headline px-0"
                    :style="$vuetify.breakpoint.xsOnly ? 'max-width: 230px;' : ''"
                    >{{ thread.title }}</v-card-title
                  >
                  <template slot="actions">
                    <v-btn
                      class="mx-1"
                      color="info"
                      depressed
                      dark
                      @click="
                        $router.push({
                          name: 'Thread',
                          params: { thread: thread.id },
                          query: { forum: forum.name, thread: thread.title }
                        })
                      "
                      >Ver Mensajes</v-btn
                    >
                    <v-btn
                      class="mx-1"
                      color="error"
                      depressed
                      dark
                      @click="
                        showDeleteDialog = true;
                        selectThread(thread, index);
                      "
                      >Eliminar</v-btn
                    >
                  </template>
                </cards>
              </div>
            </div>
            <no-data v-else key="no-data" :loading="isLoading"></no-data>
          </transition>
        </v-col>
      </v-row>
    </div>
    <add-thread v-if="showAddThread" v-model="showAddThread" @create="addThread"></add-thread>
    <delete-dialog
      v-if="showDeleteDialog"
      v-model="showDeleteDialog"
      :type="'Hilo'"
      @confirm="deleteThread"
    ></delete-dialog>
  </div>
</template>

<script lang="ts">
import { Component, Mixins } from "vue-property-decorator";
import Cards from "@/components/List/Cards.vue";
import NoData from "@/components/List/NoData.vue";
import { NotificationsMixin } from "@/mixins/notifications";
import { UtilitiesMixin } from "@/mixins/utilities";
import { getForum } from "@/services/forums";
import { getThreads } from "@/services/threads";
import { Forum } from "@/models/forum";
import { Thread } from "@/models/thread";
import AddThread from "@/components/Course/AddThread.vue";
import DeleteDialog from "@/components/Dialogs/Delete.vue";
import { deleteThread } from "@/services/threads";

@Component({ components: { Cards, NoData, AddThread, DeleteDialog } })
export default class Forums extends Mixins(NotificationsMixin, UtilitiesMixin) {
  private search = "";
  private isLoading = false;
  private showAddThread = false;
  private showDeleteDialog = false;
  private selectedThread: Thread = {
    id: "",
    title: ""
  };
  private selectedThreadIndex = 0;
  private page = 1;
  private limit = 10;
  private forum: Forum = {
    id: "",
    name: ""
  };
  private threads: Thread[] = [];

  private get filterData() {
    return this.threads.filter(thread => {
      return thread.title.toLowerCase().includes(this.search.toLowerCase());
    });
  }

  private created() {
    this.isLoading = true;
    Promise.all([this.getForum(), this.getThreads()]).then(() => {
      this.isLoading = false;
    });
  }

  private selectThread(thread: Thread, index: number) {
    this.selectedThreadIndex = index;
    this.selectedThread = thread;
  }

  private async getForum() {
    try {
      this.forum = await getForum(this.$route.params.forum);
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private addThread(thread: Thread) {
    this.filterData.push(thread);
  }

  private async getThreads() {
    try {
      const response = await getThreads(this.$route.params.forum, { page: this.page, limit: this.limit });
      this.threads = response.threadList;
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private async deleteThread() {
    try {
      await deleteThread(this.selectedThread.id);
      this.filterData.splice(this.selectedThreadIndex, 1);
      this.success("Hilo", "Se elimino el hilo correctamente");
      this.showDeleteDialog = false;
    } catch (error) {
      this.errorHandling(error);
    }
  }
}
</script>

<style lang="scss" scoped>
.list__overflow {
  max-height: 67vh !important;
  overflow-y: auto !important;
}
.forums {
  margin-bottom: 56px;
  width: 100%;
}
.list {
  display: flex;
  align-items: center;
}
</style>
