<template>
  <div class="new-poll">
    <v-row no-gutters justify="center">
      <v-col cols="12" class="text-center">
        <v-card class="pa-4 new-poll__title py-4" :style="$vuetify.breakpoint.xsOnly ? '' : 'width: 800px;'">
          <v-card-text class="pt-6 pb-0">
            <v-form lazy-validation ref="title-form">
              <v-text-field label="Titulo" v-model="poll.title" readonly></v-text-field>
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" class="text-center py-4" v-for="(question, index) in questions" :key="question.id">
        <question-response
          :class="selectedQuestion === index ? 'question--selected' : ''"
          :question="question"
          :ref="`question-${index}`"
          @select="selectQuestion(index)"
        />
      </v-col>
      <v-col cols="12" class="text-center py-4 mt-6">
        <v-btn color="success" dark bottom width="250px" x-large @click="replyPoll">Enviar</v-btn>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import { Mixins, Component } from "vue-property-decorator";
import QuestionResponse from "@/components/Course/Polls/QuestionResponse.vue";
import { RulesMixin } from "@/mixins/rules";
import { NotificationsMixin } from "@/mixins/notifications";
import { getPoll, replyCoursePoll, replyUniversityPoll } from "@/services/polls";
import { NewPollType, ReplyPoll } from "@/models/poll";

@Component({
  components: {
    QuestionResponse
  }
})
export default class Poll extends Mixins(RulesMixin, NotificationsMixin) {
  $refs!: {
    "title-form": HTMLFormElement;
  };
  private selectedQuestion = -1;
  private poll: NewPollType = {
    id: "",
    title: "",
    openQuestions: [],
    multipleChoiceQuestions: []
  };

  private questions: {
    id?: string;
    response?: string;
    selectedChoice?: string;
    text: string;
    position: number;
    options?: { id?: string; text: string }[];
  }[] = [];

  private selectQuestion(index: number) {
    this.selectedQuestion = index;
  }

  private created() {
    this.getPoll();
  }

  private validateQuestions(): boolean {
    let isValid = true;
    this.questions.forEach((_question, index) => {
      // @ts-ignore
      const question = this.$refs[`question-${index}`][0];
      if (!question.$refs["question-form"].validate()) {
        isValid = false;
      }
    });
    return isValid;
  }

  private async getPoll() {
    try {
      const response = await getPoll(this.universityId, this.$route.params.poll);
      this.poll = response;
      response.openQuestions.forEach(question => {
        this.questions.push(question);
      });
      response.multipleChoiceQuestions.forEach(question => {
        this.questions.push(question);
      });
      this.questions = this.questions.sort((a, b) => {
        return a.position - b.position;
      });
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private async replyPoll() {
    if (this.$refs["title-form"].validate() && this.validateQuestions() && this.questions.length > 0) {
      try {
        const reply: ReplyPoll = {
          openQuestions: [],
          multipleChoiceQuestions: []
        };
        this.questions.forEach(question => {
          if (question.response) {
            reply.openQuestions.push({ openQuestionid: question?.id ?? "", response: question.response });
          } else if (question.selectedChoice) {
            const choices = [];
            choices.push(question.selectedChoice);
            reply.multipleChoiceQuestions.push({
              multipleChoiceQuestionId: question?.id ?? "",
              choices
            });
          }
        });
        if (this.$route.params.course) {
          await replyCoursePoll(this.$route.params.course, this.poll?.id ?? "", reply);
          this.$router.push({ name: "Polls" });
        } else {
          await replyUniversityPoll(this.universityId, this.poll?.id ?? "", reply);
          this.$router.push({ name: "UniversityPolls" });
        }
        this.success("Encuesta", "Se envio la encuesta correctamente");
      } catch (error) {
        this.errorHandling(error);
      }
    }
  }

  private get universityId() {
    return this.$store.state.university.id;
  }
}
</script>

<style lang="scss">
.v-card--link::before {
  background: none !important;
}
</style>

<style lang="scss" scoped>
.new-poll {
  padding: 2rem;
  width: 100%;
  height: calc(100% - 103px);
  position: relative;

  .new-poll__title {
    border-top: 6px solid var(--v-primary-base);
    display: inline-block;
  }
  .question--selected {
    border-left: 6px solid var(--v-primary-base);
  }
}

.question-list {
  max-height: 500px;
  overflow-y: auto;
}
</style>
