<template>
  <div class="polls">
    <v-row no-gutters justify="center">
      <v-col cols="12" sm="12" md="10" lg="10" align-self="start">
        <v-row no-gutters>
          <v-col cols="12" sm="8" md="8" lg="6">
            <v-text-field
              dense
              hide-details
              v-model="search"
              label="Buscar encuestas..."
              prepend-inner-icon="mdi-magnify"
              filled
              rounded
              class="pb-4 ml-5"
            ></v-text-field>
          </v-col>
          <v-col cols="12" sm="4" md="4" lg="6" class="text-end pt-3">
            <v-btn
              color="success"
              link
              :to="{ name: 'AddPoll' }"
              :fab="$vuetify.breakpoint.xsOnly"
              :absolute="$vuetify.breakpoint.xsOnly"
              right
              bottom
            >
              <v-icon>mdi-plus</v-icon>
              <span v-if="!$vuetify.breakpoint.xsOnly">Agregar</span>
            </v-btn>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="12" sm="12" md="10" lg="10">
        <transition name="scale-transition" mode="out-in">
          <div v-if="filterData.length != 0">
            <cards v-for="poll in filterData" :key="poll.id">
              <v-avatar slot="image" class="ma-3" size="72" tile color="#fff">
                <v-icon size="52">mdi-format-list-bulleted-square</v-icon>
              </v-avatar>
              <template slot="content">
                <v-card-title class="headline px-0">{{ poll.title }}</v-card-title>
                <v-card-subtitle class="px-0">{{ toLocalDate(poll.createdOn) }}</v-card-subtitle>
              </template>
              <template slot="actions">
                <v-btn
                  v-if="isProfessorEnrolled"
                  color="primary"
                  depressed
                  class="mr-2"
                  link
                  :to="{ name: 'PollAnswers', params: { poll: poll.id } }"
                  >Ver Respuestas</v-btn
                >
                <v-btn
                  v-if="!isProfessorEnrolled"
                  color="success"
                  depressed
                  :disabled="poll.isAnswered"
                  link
                  :to="{ name: 'Poll', params: { poll: poll.id } }"
                  >{{ poll.isAnswered ? "Realizada" : "Realizar" }}</v-btn
                >
                <v-btn
                  v-if="isProfessorEnrolled"
                  color="success"
                  depressed
                  @click="
                    publishDialog = true;
                    setPoll(poll);
                  "
                  >Publicar</v-btn
                >
              </template>
            </cards>
          </div>
          <no-data v-else key="no-data" :loading="isLoading"></no-data>
        </transition>
      </v-col>
    </v-row>
    <publish v-if="publishDialog" v-model="publishDialog" @confirm="publishPoll" />
  </div>
</template>

<script lang="ts">
import { Mixins, Component } from "vue-property-decorator";
import { getPolls, publishPoll, getPublishedPolls } from "@/services/polls";
import { Poll } from "@/models/poll";
import { NotificationsMixin } from "@/mixins/notifications";
import NoData from "@/components/List/NoData.vue";
import Cards from "@/components/List/Cards.vue";
import { Enrollment } from "@/models/enrollment";
import Publish from "@/components/Course/Polls/Publish.vue";

@Component({
  components: {
    NoData,
    Cards,
    Publish
  }
})
export default class Polls extends Mixins(NotificationsMixin) {
  private publishDialog = false;
  private polls: Poll[] = [];
  private isLoading = false;
  private selectedPollId = "";
  private search = "";

  private created() {
    this.isLoading = true;
    if (this.isProfessorEnrolled) {
      this.getPolls().then(() => {
        this.isLoading = false;
      });
    } else {
      this.getPublishedPolls().then(() => {
        this.isLoading = false;
      });
    }
  }

  private async getPolls() {
    try {
      const polls = await getPolls(this.$route.params.course);
      this.polls = polls;
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private async getPublishedPolls() {
    try {
      const polls = await getPublishedPolls(
        this.$route.params.course,
        this.$store.state.userModule.session.user.nameid
      );
      this.polls = polls;
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private setPoll(poll: Poll) {
    this.selectedPollId = poll.id;
  }

  private toLocalDate(date: string) {
    const options = { weekday: "long", year: "numeric", month: "long", day: "numeric" };
    const localDate = new Date(date).toLocaleDateString("es-ES", options);
    return localDate;
  }

  private get filterData() {
    return this.polls.filter(career => {
      return career.title.toLowerCase().includes(this.search.toLowerCase());
    });
  }

  private get universityId() {
    return this.$store.state.university.id;
  }

  private async publishPoll() {
    try {
      await publishPoll(this.universityId, this.$route.params.course, this.selectedPollId);
      this.publishDialog = false;
      this.success("Encuesta", "Se publico la encuesta correctamente");
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private get isProfessorEnrolled(): boolean {
    const enrollment = this.$store.state.userModule.session?.enrollments.find((enrollment: Enrollment) => {
      return enrollment.id == this.$route.params.course;
    });
    return enrollment?.isProfessorEnrollment ?? false;
  }
}
</script>

<style lang="scss" scoped>
.polls {
  padding: 2rem;
  width: 100%;
}
</style>
