<template>
  <div class="new-poll">
    <v-row no-gutters justify="center">
      <v-col cols="12" class="text-center">
        <div v-if="polls.length !== 0">
          <v-card class="pa-4 my-4 new-poll__title py-4" v-for="answer in polls" :key="answer.createdOn">
            <v-card-text class="pt-6 pb-0">
              <h2 class="display-1 font-weight-bold">{{ answer.title }}</h2>
              <v-card flat v-for="question in questions" :key="question.position" class="text-start pa-2 my-2">
                <v-card-title>{{ question.question }}</v-card-title>
                <v-card-text class="pb-0">
                  <p v-if="question.choices">
                    {{ question.choices[0] }}
                  </p>
                  <p v-else>
                    {{ question.response }}
                  </p>
                </v-card-text>
              </v-card>
            </v-card-text>
          </v-card>
          <v-col cols="12" sm="12" md="12" lg="12" class="pt-5">
            <div class="text-center" v-if="polls.length != 0">
              <v-pagination
                color="secondary"
                @input="getPollAnswers"
                v-model="page"
                total-visible="5"
                :length="pageLength"
              ></v-pagination>
            </div>
          </v-col>
        </div>
        <v-card v-else class="pa-4 my-4 new-poll__title py-4">
          <v-card-text>
            <div v-if="isLoading" key="skeleton-loaders">
              <v-skeleton-loader
                v-for="unit in 1"
                :key="unit"
                class="mx-auto my-5"
                max-height="200"
                type="table-heading, list-item-three-line"
              >
              </v-skeleton-loader>
            </div>
            <v-alert
              v-else
              text
              dense
              color="teal"
              icon="mdi-emoticon-poop"
              border="left"
              class="mx-auto"
              max-width="500"
            >
              Esta encuesta todavia no tiene disponible ninguna respuesta
            </v-alert>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import { Mixins, Component } from "vue-property-decorator";
import { NotificationsMixin } from "@/mixins/notifications";
import { getPollAnwers } from "@/services/polls";
import { PollAnswer } from "@/models/poll";

@Component({})
export default class Poll extends Mixins(NotificationsMixin) {
  private polls: PollAnswer[] = [];
  private count = 0;
  private page = 1;
  private limit = 1;
  private isLoading = false;
  private questions: {
    id?: string;
    response?: string;
    selectedChoice?: string;
    text?: string;
    question?: string;
    position: number;
    options?: { id?: string; text: string }[];
  }[] = [];

  private created() {
    this.isLoading = true;
    this.getPollAnswers().then(() => {
      this.isLoading = false;
    });
  }

  private async getPollAnswers() {
    try {
      const response = await getPollAnwers(this.$route.params.poll, { page: this.page, limit: this.limit });
      this.polls = response.readPollAnswerDtos;
      this.count = response.count;
      if (this.polls.length > 0) {
        this.questions = [];
        this.polls[0].openAnswerDtos.forEach(question => {
          this.questions.push(question);
        });
        this.polls[0].multipleChoiceAnswerDtos.forEach(question => {
          this.questions.push(question);
        });

        this.questions = this.questions.sort((a, b) => {
          return a.position - b.position;
        });
      }
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private get pageLength(): number {
    return this.count > this.limit ? Math.ceil(this.count / this.limit) : 1;
  }

  private get universityId() {
    return this.$store.state.university.id;
  }
}
</script>

<style lang="scss">
.v-card--link::before {
  background: none !important;
}
</style>

<style lang="scss" scoped>
.new-poll {
  width: 100%;
  padding: 2rem;
  height: calc(100% - 103px);
  position: relative;

  .new-poll__title {
    border-top: 6px solid var(--v-primary-base);
    display: inline-block;
    min-width: 800px;
    max-width: 800px;
  }
  .question--selected {
    border-left: 6px solid var(--v-primary-base);
  }
}

.question-list {
  max-height: 500px;
  overflow-y: auto;
}
</style>
