<template>
  <div class="threads full-height">
    <v-row no-gutters justify="center">
      <v-col cols="12" sm="12" md="10" lg="10" align-self="start">
        <h1 class="display-1 font-weight-medium mb-2">{{ $route.query.forum }}</h1>
        <hr style="border: 0.5px solid #f0f0f0" />
        <h1 class="subtitle-1 font-weight-light my-8" style="font-size: 1.5rem !important">
          {{ $route.query.thread }}
        </h1>
      </v-col>
    </v-row>
    <v-row no-gutters justify="center">
      <v-col cols="12" sm="12" md="10" lg="10">
        <v-scale-transition group mode="out-in" appear hide-on-leave>
          <forum-message v-for="message in messages" :key="message.createdOn" :message="message"></forum-message>
        </v-scale-transition>
      </v-col>
      <v-col cols="12" sm="12" md="10" lg="10">
        <v-expansion-panels class="mt-6">
          <v-expansion-panel>
            <v-expansion-panel-header expand-icon="mdi-menu-down" class="text-center">
              <p class="ma-0 subtitle-1">
                <v-icon class="mb-1">mdi-plus</v-icon>
                Publicar nuevo mensaje
              </p>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <vue-editor useCustomImageHandler @image-added="handleImageAdded" v-model="content"></vue-editor>
              <v-btn color="success" depressed block class="mx-auto mt-4" :loading="isLoading" @click="createMessage"
                >Comentar</v-btn
              >
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-col>
      <v-col cols="12" sm="12" md="10" lg="10" class="pt-5">
        <div class="text-center" v-if="messages.length != 0">
          <v-pagination
            color="secondary"
            @input="getMessages"
            v-model="page"
            total-visible="5"
            :length="pageLength"
          ></v-pagination>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import { Component, Mixins } from "vue-property-decorator";
import { NotificationsMixin } from "@/mixins/notifications";
import { UtilitiesMixin } from "@/mixins/utilities";
import ForumMessage from "@/components/Course/ForumMessage.vue";
import { VueEditor } from "vue2-editor";
import { createMessage, getMessages } from "@/services/threads";
import { Message } from "@/models/thread";
import axios from "axios";

@Component({ components: { ForumMessage, VueEditor } })
export default class Thread extends Mixins(NotificationsMixin, UtilitiesMixin) {
  private content = "<h2>Escriba su mensaje...</h2>";
  private isLoading = false;
  private messages: Message[] = [];
  private page = 1;
  private count = 0;
  private limit = 5;

  private created() {
    this.getMessages();
  }

  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  private async handleImageAdded(file: File, Editor: any, cursorLocation: any, resetUploader: Function) {
    const formData = new FormData();
    formData.append("image", file);

    try {
      const result = await axios({
        url: "https://api.imgur.com/3/image/",
        headers: {
          Authorization: `Client-ID ${process.env.VUE_APP_CLIENTID}`
        },
        method: "POST",
        data: formData
      });
      const url = result.data.data.link;
      Editor.insertEmbed(cursorLocation, "image", url);
      resetUploader();
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private async createMessage() {
    try {
      this.isLoading = true;
      const message = await createMessage(this.$route.params.thread, this.content);
      if (this.messages.length >= 5) {
        this.count++;
        this.page = this.pageLength;
        await this.getMessages();
      } else {
        this.messages.push(message);
      }
      this.content = "<h2>Escriba su mensaje...</h2>";
      this.success("Mensaje", "Se creo el mensaje correctamente");
    } catch (error) {
      this.errorHandling(error);
    } finally {
      this.isLoading = false;
    }
  }

  private async getMessages() {
    try {
      const messages = await getMessages(this.$route.params.thread, { page: this.page, limit: this.limit });
      this.messages = messages.messageList;
      this.count = messages.count;
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private get pageLength(): number {
    return this.count > this.limit ? Math.ceil(this.count / this.limit) : 1;
  }
}
</script>

<style lang="scss">
@media (max-width: 600px) {
  p img {
    max-width: 225px !important;
  }
}
</style>

<style lang="scss" scoped>
.threads {
  padding: 10px;
  width: 100%;
  margin-bottom: 56px;
}
</style>
