<template>
  <v-dialog
    v-if="value"
    :value="value"
    @input="close"
    width="auto"
    max-width="500"
    overlay-opacity="0.8"
    overlay-color="white"
  >
    <v-card class="pt-4 dialog">
      <v-card-text class="px-12 py-5">
        <v-select
          v-model="selectedComponentType"
          :items="componentTypes"
          item-text="text"
          item-value="value"
          label="Tipo de Componente"
          mandatory
        ></v-select>
        <v-form ref="component-form" lazy-validation>
          <div v-for="field in getComponentTypeFields" :key="field.value">
            <div v-if="field.type !== 'calendar'">
              <component
                :is="field.type"
                :rules="[rules.required]"
                auto-grow
                :prepend-inner-icon="field.icon"
                prepend-icon=""
                rows="1"
                :label="field.label"
                :accept="field.label == 'Video' ? 'video/mp4, video/ogg, video/webm' : ''"
                v-model="component[field.value]"
                @keydown.enter.prevent="createComponent"
              ></component>
            </div>
            <div v-else>
              <v-menu
                ref="startDate"
                v-model="menu"
                :close-on-content-click="false"
                :return-value.sync="component[field.value]"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="component[field.value]"
                    :label="field.label"
                    prepend-inner-icon="mdi-calendar"
                    :rules="[v => v > new Date().toISOString().substr(0, 10) || 'La fecha debe ser de hoy en adelante']"
                    readonly
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="component[field.value]" type="date" no-title scrollable>
                  <v-spacer></v-spacer>
                  <v-btn text color="primary" @click="menu = false">
                    Cancelar
                  </v-btn>
                  <v-btn text color="primary" @click="$refs.startDate[0].save(component[field.value])">
                    OK
                  </v-btn>
                </v-date-picker>
              </v-menu>
            </div>
          </div>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-row no-gutters>
          <v-col cols="12" class="text-end">
            <v-btn text class="mr-1" @click="close">Cerrar</v-btn>
            <v-btn dark class="ml-1 dialog__confirm" depressed @click="createComponent">
              Confirmar
            </v-btn>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Prop, Mixins } from "vue-property-decorator";
import { RulesMixin } from "@/mixins/rules";

@Component({})
export default class AddComponent extends Mixins(RulesMixin) {
  @Prop({ default: false }) value!: boolean;
  $refs!: {
    "component-form": HTMLFormElement;
  };

  private menu = false;
  private component = {};
  private selectedComponentType = "textComponents";
  private componentTypes = [
    {
      text: "Texto",
      value: "textComponents",
      fields: [{ value: "text", label: "Texto", type: "v-textarea", icon: "mdi-text" }]
    },
    {
      text: "Documento",
      value: "documentComponents",
      fields: [
        { value: "title", label: "Titulo", type: "v-text-field", icon: "mdi-format-text" },
        { value: "url", label: "Archivo", type: "v-file-input", icon: "mdi-paperclip" }
      ]
    },
    {
      text: "Link",
      value: "linkComponents",
      fields: [
        { value: "title", label: "Titulo", type: "v-text-field", icon: "mdi-format-text" },
        { value: "url", label: "Url", type: "v-text-field", icon: "mdi-link" }
      ]
    },
    {
      text: "Video",
      value: "videoComponents",
      fields: [
        { value: "title", label: "Titulo", type: "v-text-field", icon: "mdi-format-text" },
        { value: "url", label: "Video", type: "v-file-input", icon: "mdi-paperclip" }
      ]
    },
    {
      text: "Tarea",
      value: "assigmentComponents",
      fields: [
        { value: "title", label: "Titulo", type: "v-text-field", icon: "mdi-format-text" },
        { value: "text", label: "Texto", type: "v-textarea", icon: "mdi-text" },
        { value: "availableUntil", label: "Disponible hasta", type: "calendar", icon: "mdi-calendar" }
      ]
    },
    {
      text: "Foro",
      value: "forumComponents",
      fields: [{ value: "title", label: "Titulo", type: "v-text-field", icon: "mdi-format-text" }]
    },
    {
      text: "Questionario",
      value: "quizComponents",
      fields: [
        { value: "title", label: "Titulo", textArea: false, icon: "mdi-format-text" },
        { value: "text", label: "Texto", textArea: true, icon: "mdi-text" }
      ]
    },
    {
      text: "Encuesta",
      value: "pollComponents",
      fields: [
        { value: "title", label: "Titulo", type: "v-text-field", icon: "mdi-format-text" },
        { value: "text", label: "Texto", type: "v-textarea", icon: "mdi-text" }
      ]
    },
    {
      text: "Meeting Virtual",
      value: "virtualMeetingComponents",
      fields: [
        { value: "title", label: "Titulo", type: "v-text-field", icon: "mdi-format-text" },
        { value: "url", label: "Url", type: "v-text-field", icon: "mdi-link" }
      ]
    }
  ];

  private createComponent() {
    if (this.$refs["component-form"].validate()) {
      if (this.selectedComponentType == "assigmentComponents") {
        (this.component as { assignmentId: null }).assignmentId = null;
        (this.component as { availableUntil: string | Date }).availableUntil = new Date(
          (this.component as { availableUntil: string }).availableUntil
        );
      } else if (this.selectedComponentType == "forumComponents") {
        (this.component as { forumId: null }).forumId = null;
      }
      const component = { value: this.selectedComponentType, data: this.component };
      this.$emit("create", component);
      this.close();
    }
  }

  private get getComponentTypeFields() {
    return this.componentTypes.find(componentType => {
      return componentType.value == this.selectedComponentType;
    })?.fields;
  }

  private close() {
    this.$emit("input");
  }
}
</script>

<style lang="scss" scoped>
.dialog {
  border-top: 5px solid #00bcd4;

  .dialog__confirm {
    background: linear-gradient(90deg, #09c78a, #1cad7d);
  }
  .dialog__title {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}
</style>
