<template>
  <v-dialog
    v-if="value"
    :value="value"
    @input="close"
    width="auto"
    max-width="650"
    overlay-opacity="0.8"
    overlay-color="white"
  >
    <v-card class="pt-4 dialog">
      <v-card-text class="px-12 py-5">
        <v-form lazy-validation ref="unit-form">
          <v-text-field
            label="Titulo"
            v-model="educationalUnit.title"
            :rules="[v => v.length >= 5 || 'El titulo debe ser almenos 5 de largo']"
            prepend-inner-icon="mdi-format-title"
          ></v-text-field>
          <v-textarea
            label="Descripcion"
            v-model="educationalUnit.text"
            rows="1"
            auto-grow
            prepend-inner-icon="mdi-subtitles"
          ></v-textarea>
        </v-form>
        <v-tabs v-model="tab" background-color="secondary" dark centered class="mt-4">
          <v-tabs-slider></v-tabs-slider>

          <v-tab v-for="tab in tabs" :key="tab.name" :href="`#tab-${tab.name}`">
            <v-icon class="mx-2">{{ tab.icon }}</v-icon>
            {{ tab.name }}
          </v-tab>

          <v-tab-item value="tab-Componentes" class="pt-4">
            <v-card flat>
              <v-card-text>
                <div class="py-1" v-for="forum in educationalUnit.forumComponents" :key="forum.id">
                  <div class="mx-4">
                    <v-icon class="pb-1" color="green darken-2">mdi-forum-outline</v-icon>
                    <a class="ml-1 mr-3 font-weight-thin" style="color: #2f2f2f;">{{ forum.title }}</a>
                  </div>
                </div>
                <div class="py-1" v-for="quiz in educationalUnit.quizComponents" :key="quiz.id">
                  <div class="mx-4">
                    <p class="font-weight-thin mb-2">{{ quiz.text }}</p>
                    <v-icon class="pb-1" color="#81e8cb">mdi-file-document-edit</v-icon>
                    <a class="ml-1 mr-3 font-weight-thin" style="color: #2f2f2f;">{{ quiz.title }}</a>
                  </div>
                </div>
                <div class="py-1" v-for="poll in educationalUnit.pollComponents" :key="poll.id">
                  <div class="mx-4">
                    <p class="font-weight-thin mb-2">{{ poll.text }}</p>
                    <v-icon class="pb-1" color="lime lighten-1">mdi-format-list-checkbox</v-icon>
                    <a class="ml-1 mr-3 font-weight-thin" style="color: #2f2f2f;">{{ poll.title }}</a>
                  </div>
                </div>
                <div class="py-1" v-for="video in educationalUnit.videoComponents" :key="video.id">
                  <div class="mx-4">
                    <v-icon class="pb-1" color="indigo lighten-2 ">mdi-file-video</v-icon>
                    <a class="ml-1 mr-3 font-weight-thin" style="color: #2f2f2f;">{{ video.title }}</a>
                  </div>
                </div>
                <div class="py-1" v-for="document in educationalUnit.documentComponents" :key="document.id">
                  <div class="mx-4">
                    <v-icon class="pb-1" color="red lighten-2 ">mdi-file-document</v-icon>
                    <a class="ml-1 mr-3 font-weight-thin" style="color: #2f2f2f;">{{ document.title }}</a>
                  </div>
                </div>
                <div class="py-1" v-for="meeting in educationalUnit.virtualMeetingComponents" :key="meeting.id">
                  <div class="mx-4">
                    <v-icon class="pb-1" color="secondary">mdi-message-video</v-icon>
                    <a class="ml-1 mr-3 font-weight-thin" style="color: #2f2f2f;">{{ meeting.title }}</a>
                  </div>
                </div>
                <div class="py-1" v-for="assigment in educationalUnit.assigmentComponents" :key="assigment.id">
                  <div class="mx-4">
                    <p class="font-weight-thin mb-2">{{ assigment.text }}</p>
                    <v-icon class="pb-1" color="amber darken-2 ">mdi-briefcase-upload-outline</v-icon>
                    <a class="ml-1 mr-3 font-weight-thin" style="color: #2f2f2f;">{{ assigment.title }}</a>
                  </div>
                </div>
                <div class="py-1" v-for="link in educationalUnit.linkComponents" :key="link.id">
                  <div class="mx-4">
                    <a class="mr-3 font-weight-thin" target="_blank" :href="link.url">{{ link.title }}</a>
                  </div>
                </div>
                <div class="py-1" v-for="text in educationalUnit.textComponents" :key="text.id">
                  <div class="mx-4">
                    <p class="mr-3 font-weight-thin">{{ text.text }}</p>
                  </div>
                </div>
              </v-card-text>
              <v-card-actions>
                <v-btn color="success" text class="mx-auto" @click="addComponentDialog = true">
                  <v-icon>mdi-plus</v-icon>
                  Agregar
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-tab-item>
          <v-tab-item value="tab-Visualizar" class="pt-4">
            <v-card flat>
              <v-card-title class="pa-0 pt-3 text-h6 font-weight-light">{{ educationalUnit.title }} </v-card-title>
              <v-card-subtitle class="mx-1 mt-1">{{ educationalUnit.text }}</v-card-subtitle>
              <v-card-text>
                <div class="py-1" v-for="forum in educationalUnit.forumComponents" :key="forum.id">
                  <div class="mx-4">
                    <v-icon class="pb-1" color="green darken-2">mdi-forum-outline</v-icon>
                    <a class="ml-1 mr-3 font-weight-thin" style="color: #2f2f2f;">{{ forum.title }}</a>
                  </div>
                </div>
                <div class="py-1" v-for="quiz in educationalUnit.quizComponents" :key="quiz.id">
                  <div class="mx-4">
                    <p class="font-weight-thin mb-1">{{ quiz.text }}</p>
                    <v-icon class="pb-1" color="#81e8cb">mdi-file-document-edit</v-icon>
                    <a class="ml-1 mr-3 font-weight-thin" style="color: #2f2f2f;">{{ quiz.title }}</a>
                  </div>
                </div>
                <div class="py-1" v-for="poll in educationalUnit.pollComponents" :key="poll.id">
                  <div class="mx-4">
                    <p class="font-weight-thin mb-1">{{ poll.text }}</p>
                    <v-icon class="pb-1" color="lime lighten-1">mdi-format-list-checkbox</v-icon>
                    <a class="ml-1 mr-3 font-weight-thin" style="color: #2f2f2f;">{{ poll.title }}</a>
                  </div>
                </div>
                <div class="py-1" v-for="video in educationalUnit.videoComponents" :key="video.id">
                  <div class="mx-4">
                    <v-icon class="pb-1" color="indigo lighten-2 ">mdi-file-video</v-icon>
                    <a class="ml-1 mr-3 font-weight-thin" style="color: #2f2f2f;">{{ video.title }}</a>
                  </div>
                </div>
                <div class="py-1" v-for="document in educationalUnit.documentComponents" :key="document.id">
                  <div class="mx-4">
                    <v-icon class="pb-1" color="red lighten-2 ">mdi-file-document</v-icon>
                    <a class="ml-1 mr-3 font-weight-thin" style="color: #2f2f2f;">{{ document.title }}</a>
                  </div>
                </div>
                <div class="py-1" v-for="meeting in educationalUnit.virtualMeetingComponents" :key="meeting.id">
                  <div class="mx-4">
                    <v-icon class="pb-1" color="secondary">mdi-message-video</v-icon>
                    <a class="ml-1 mr-3 font-weight-thin" style="color: #2f2f2f;">{{ meeting.title }}</a>
                  </div>
                </div>
                <div class="py-1" v-for="assigment in educationalUnit.assigmentComponents" :key="assigment.id">
                  <div class="mx-4">
                    <p class="font-weight-thin mb-1">{{ assigment.text }}</p>
                    <v-icon class="pb-1" color="amber darken-2 ">mdi-briefcase-upload-outline</v-icon>
                    <a class="ml-1 mr-3 font-weight-thin" style="color: #2f2f2f;">{{ assigment.title }}</a>
                  </div>
                </div>
                <div class="py-1" v-for="link in educationalUnit.linkComponents" :key="link.id">
                  <div class="mx-4">
                    <a class="mr-3 font-weight-thin" target="_blank" :href="link.url">{{ link.title }}</a>
                  </div>
                </div>
                <div class="py-1" v-for="text in educationalUnit.textComponents" :key="text.id">
                  <div class="mx-4">
                    <p class="mr-3 font-weight-thin">{{ text.text }}</p>
                  </div>
                </div>
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs>
      </v-card-text>
      <v-card-actions>
        <v-row no-gutters>
          <v-col cols="12" class="text-end">
            <v-btn text class="mr-1" @click="close">Cerrar</v-btn>
            <v-btn dark class="ml-1 dialog__confirm" depressed @click="createEducationalUnit" :loading="isLoading">
              Confirmar
            </v-btn>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>
    <add-component v-if="addComponentDialog" v-model="addComponentDialog" @create="addComponent"></add-component>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Mixins, Prop } from "vue-property-decorator";
import AddComponent from "@/components/Course/AddComponent.vue";
import { EducationalUnit } from "@/models/educationalUnit";
import { RulesMixin } from "@/mixins/rules";
import { NotificationsMixin } from "@/mixins/notifications";
import { createEducationalUnit } from "@/services/educationalUnits";
import { uploadFile } from "@/services/goFile";

@Component({
  components: {
    AddComponent
  }
})
export default class AddEducationalUnit extends Mixins(RulesMixin, NotificationsMixin) {
  @Prop({ default: false }) value!: boolean;
  @Prop({ default: 0 }) position!: number;
  @Prop({ default: "" }) courseId!: string;

  $refs!: {
    "unit-form": HTMLFormElement;
  };

  private tab = null;
  private isLoading = false;
  private educationalUnit: EducationalUnit = {
    position: 0,
    title: "",
    text: "",
    assigmentComponents: [],
    documentComponents: [],
    forumComponents: [],
    linkComponents: [],
    pollComponents: [],
    quizComponents: [],
    textComponents: [],
    videoComponents: [],
    virtualMeetingComponents: []
  };
  private addComponentDialog = false;
  private tabs = [
    {
      name: "Componentes",
      icon: "mdi-view-grid-plus"
    },
    {
      name: "Visualizar",
      icon: "mdi-eye"
    }
  ];
  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  private hasKey<O>(obj: O, key: keyof any): key is keyof O {
    return key in obj;
  }

  private addComponent(component: { value: string; data: {} }) {
    if (this.hasKey(this.educationalUnit, component.value)) {
      (this.educationalUnit[component.value] as {}[]).push({
        ...component.data,
        position: (this.educationalUnit[component.value] as {}[]).length
      });
    }
  }

  private async uploadFiles() {
    try {
      const promises: Promise<string>[] = [];
      this.educationalUnit.videoComponents?.forEach(videoComponent => {
        const formData = new FormData();
        formData.append("file", videoComponent.url);
        promises.push(uploadFile(formData));
      });
      this.educationalUnit.documentComponents?.forEach(documentComponent => {
        const formData = new FormData();
        formData.append("file", documentComponent.url);
        promises.push(uploadFile(formData));
      });
      const response = await Promise.all(promises);
      this.educationalUnit.videoComponents?.forEach((videoComponent, index) => {
        videoComponent.url = response[index];
      });
      this.educationalUnit.documentComponents?.forEach((documentComponent, index) => {
        documentComponent.url = response[this.educationalUnit.videoComponents?.length ?? 0 + index];
      });
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private async createEducationalUnit() {
    if (this.$refs["unit-form"].validate()) {
      try {
        this.isLoading = true;
        await this.uploadFiles();
        this.educationalUnit.position = this.position;
        const educationalUnit = await createEducationalUnit(this.courseId, this.educationalUnit);
        this.$emit("create", educationalUnit);
        this.close();
        this.success("Unidad Educativa", "Se creo correctamente la unidad educativa");
      } catch (error) {
        this.errorHandling(error);
      } finally {
        this.isLoading = false;
      }
    }
  }

  private close() {
    this.$emit("input");
  }
}
</script>

<style lang="scss" scoped>
.dialog {
  border-top: 5px solid #00bcd4;

  .dialog__confirm {
    background: linear-gradient(90deg, #09c78a, #1cad7d);
  }
  .dialog__title {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}
</style>
