<template>
  <v-dialog
    v-if="value"
    :value="value"
    @input="close"
    width="auto"
    max-width="500"
    overlay-opacity="0.8"
    overlay-color="white"
  >
    <v-card class="pt-4 dialog">
      <v-card-text class="px-12 py-5">
        <v-form ref="event-form" lazy-validation>
          <v-menu
            ref="startDate"
            v-model="menu"
            :close-on-content-click="false"
            :return-value.sync="startDate"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="startDate"
                label="Fecha de Inicio"
                prepend-inner-icon="mdi-calendar"
                :rules="[v => v >= new Date().toISOString().substr(0, 10) || 'La fecha debe ser de hoy en adelante']"
                readonly
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker v-model="startDate" type="date" no-title scrollable>
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="menu = false">
                Cancelar
              </v-btn>
              <v-btn text color="primary" @click="$refs.startDate.save(startDate)">
                OK
              </v-btn>
            </v-date-picker>
          </v-menu>
          <v-menu
            ref="endDate"
            v-model="menu1"
            :close-on-content-click="false"
            :return-value.sync="endDate"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="endDate"
                label="Fecha de Finalizacion"
                prepend-inner-icon="mdi-calendar"
                :rules="[v => v >= startDate || 'La fecha debe ser igual o mayor a la fecha de inicio']"
                readonly
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker v-model="endDate" type="date" no-title scrollable>
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="menu1 = false">
                Cancelar
              </v-btn>
              <v-btn text color="primary" @click="$refs.endDate.save(endDate)">
                OK
              </v-btn>
            </v-date-picker>
          </v-menu>
          <v-text-field
            label="Evento"
            v-model="event"
            :rules="[rules.required]"
            prepend-inner-icon="mdi-calendar-star"
          ></v-text-field>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-row no-gutters>
          <v-col cols="12" class="text-end">
            <v-btn text class="mr-1" @click="close">Cerrar</v-btn>
            <v-btn dark class="ml-1 dialog__confirm" depressed @click="createEvent" :loading="isLoading">
              Confirmar
            </v-btn>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Prop, Mixins } from "vue-property-decorator";
import { RulesMixin } from "@/mixins/rules";
import { NotificationsMixin } from "@/mixins/notifications";
import { createEvent } from "@/services/events";

@Component({})
export default class AddEvent extends Mixins(RulesMixin, NotificationsMixin) {
  @Prop({ default: false }) value!: boolean;
  @Prop({ default: "" }) selectedDate!: string;
  $refs!: {
    "event-form": HTMLFormElement;
  };

  private startDate = "";
  private event = "";
  private menu = false;
  private endDate = "";
  private menu1 = false;
  private isLoading = false;

  private created() {
    this.startDate = this.selectedDate;
    this.endDate = this.selectedDate;
  }

  private async createEvent() {
    if (this.$refs["event-form"].validate()) {
      try {
        this.isLoading = true;
        const event = { startDate: new Date(this.startDate), endDate: new Date(this.endDate), event: this.event };
        const response = await createEvent(this.$route.params.course, event);
        this.$emit("create", response);
        this.close();
        this.success("Eventos", "Se creo el evento correctamente");
      } catch (error) {
        this.errorHandling(error);
      } finally {
        this.isLoading = false;
      }
    }
  }

  private close() {
    this.$emit("input");
  }
}
</script>

<style lang="scss" scoped>
.dialog {
  border-top: 5px solid #00bcd4;

  .dialog__confirm {
    background: linear-gradient(90deg, #09c78a, #1cad7d);
  }
  .dialog__title {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}
</style>
