<template>
  <v-dialog
    v-if="value"
    :value="value"
    @input="close"
    width="auto"
    max-width="500"
    overlay-opacity="0.8"
    overlay-color="white"
  >
    <v-card class="pt-4 dialog">
      <v-card-title class="dialog__title">
        Agregar Hilo
      </v-card-title>
      <v-card-text class="px-12 py-5">
        <v-form ref="thread-form" lazy-validation>
          <v-text-field
            label="Titulo"
            v-model="title"
            :rules="[rules.required]"
            prepend-inner-icon="mdi-format-title"
            @keydown.enter="createThread"
          ></v-text-field>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-row no-gutters>
          <v-col cols="12" class="text-end">
            <v-btn text class="mr-1" @click="close">Cerrar</v-btn>
            <v-btn dark class="ml-1 dialog__confirm" depressed @click="createThread" :loading="isLoading">
              Confirmar
            </v-btn>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Prop, Mixins } from "vue-property-decorator";
import { RulesMixin } from "@/mixins/rules";
import { NotificationsMixin } from "@/mixins/notifications";
import { createThread } from "@/services/threads";

@Component({})
export default class AddThread extends Mixins(RulesMixin, NotificationsMixin) {
  @Prop({ default: false }) value!: boolean;

  $refs!: {
    "thread-form": HTMLFormElement;
  };

  private title = "";
  private isLoading = false;

  private async createThread() {
    if (this.$refs["thread-form"].validate()) {
      try {
        this.isLoading = true;
        const response = await createThread(this.$route.params.forum, this.title);
        this.$emit("create", response);
        this.close();
        this.success("Hilo", "Se creo el hilo correctamente");
      } catch (error) {
        this.errorHandling(error);
      } finally {
        this.isLoading = false;
      }
    }
  }

  private close() {
    this.$emit("input");
  }
}
</script>

<style lang="scss" scoped>
.dialog {
  border-top: 5px solid #00bcd4;

  .dialog__confirm {
    background: linear-gradient(90deg, #09c78a, #1cad7d);
  }
  .dialog__title {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}
</style>
