<template>
  <v-card>
    <v-sheet tile height="54" class="d-flex">
      <v-btn icon class="ma-2" @click="prev">
        <v-icon>mdi-chevron-left</v-icon>
      </v-btn>
      <v-card-title class="pt-3 mx-auto">Calendario</v-card-title>
      <v-btn icon class="ma-2" @click="next">
        <v-icon>mdi-chevron-right</v-icon>
      </v-btn>
    </v-sheet>
    <v-sheet>
      <v-calendar
        @click:date="addEvent"
        v-model="value"
        ref="calendar"
        color="primary"
        type="month"
        :events="events"
        :event-color="getEventColor"
        @click:event="show"
        short-months
      ></v-calendar>
    </v-sheet>
    <v-menu v-model="showEventMenu" :position-x="x" :position-y="y" absolute offset-y>
      <v-card :color="selectedEvent.color" dark>
        <v-card-title>{{ selectedEvent.name }}</v-card-title>
      </v-card>
    </v-menu>
    <add-event
      v-if="addEventDialog"
      v-model="addEventDialog"
      :selectedDate="startDate"
      @create="addNewEvent"
    ></add-event>
  </v-card>
</template>

<script lang="ts">
import { Component, Mixins } from "vue-property-decorator";
import AddEvent from "@/components/Course/AddEvent.vue";
import { NotificationsMixin } from "@/mixins/notifications";
import { UtilitiesMixin } from "@/mixins/utilities";
import { getEvents } from "@/services/events";
import { Event } from "@/models/event";

@Component({
  components: {
    AddEvent
  }
})
export default class CourseView extends Mixins(NotificationsMixin, UtilitiesMixin) {
  $refs!: {
    // eslint-disable-next-line @typescript-eslint/no-explicit-any
    calendar: any;
  };
  private addEventDialog = false;
  private value = "";
  private startDate = "";
  private events: { name: string; start: string; end: string; color: string }[] = [];
  private showEventMenu = false;
  private x = 0;
  private y = 0;
  private selectedEvent: { name: string; start: string; end: string; color: string } = {
    name: "",
    start: "",
    end: "",
    color: ""
  };

  private mounted() {
    this.getEvents();
  }

  private show({
    nativeEvent,
    event
  }: {
    nativeEvent: MouseEvent;
    event: { name: string; start: string; end: string; color: string };
  }) {
    nativeEvent.preventDefault();
    this.showEventMenu = false;
    this.selectedEvent = event;
    this.x = nativeEvent.clientX;
    this.y = nativeEvent.clientY;
    this.$nextTick(() => {
      this.showEventMenu = true;
    });
  }

  private addEvent(date: { date: string }) {
    this.startDate = new Date(date.date).toISOString().substr(0, 10);
    this.addEventDialog = true;
  }

  private addNewEvent(event: Event) {
    this.events.push({
      name: event.event,
      start: event.startDate.substr(0, 10),
      end: event.endDate.substr(0, 10),
      color: this.stringToColor(event.event)
    });
  }

  private async next() {
    this.$refs.calendar.next();
    this.$nextTick(() => {
      this.getEvents();
    });
  }

  private async prev() {
    this.$refs.calendar.prev();
    this.$nextTick(() => {
      this.getEvents();
    });
  }

  private async getEvents() {
    try {
      const events = await getEvents(
        this.$route.params.course,
        new Date(this.$refs.calendar.lastStart.date),
        new Date(this.$refs.calendar.lastEnd.date)
      );

      this.events = events.map(event => {
        return {
          name: event.event,
          start: event.startDate.substr(0, 10),
          end: event.endDate.substr(0, 10),
          color: this.stringToColor(event.event)
        };
      });
    } catch (error) {
      console.log(error);
    }
  }

  private getEventColor(event: { color: string }) {
    return event.color;
  }
}
</script>
