<template>
  <v-card flat style="border-bottom: 1px solid #bdbdbd;" class="rounded-0">
    <v-card-title class="pa-0 pt-3 text-h6 font-weight-light"
      >{{ educationalUnit.title }}
      <div class="ml-auto" v-if="isProfessorEnrolled">
        <v-btn icon small @click.native="$emit('update', { index: position, unit: educationalUnit })">
          <v-icon>mdi-pencil</v-icon>
        </v-btn>
        <v-btn icon small @click="deleteDialog = true">
          <v-icon>mdi-delete</v-icon>
        </v-btn>
      </div>
    </v-card-title>
    <v-card-subtitle class="mx-1 mt-1">{{ educationalUnit.text }}</v-card-subtitle>
    <v-card-text>
      <div class="py-1" v-for="forum in educationalUnit.forumComponents" :key="forum.id">
        <div class="mx-4">
          <v-icon class="pb-1" color="green darken-2">mdi-forum-outline</v-icon>
          <router-link :to="{ name: 'Forum', params: { forum: forum.forumId } }">
            <a class="ml-1 mr-3 font-weight-thin" style="color: #2f2f2f;">{{ forum.title }}</a>
          </router-link>
        </div>
      </div>
      <div class="py-1" v-for="quiz in educationalUnit.quizComponents" :key="quiz.id">
        <div class="mx-4">
          <p class="font-weight-thin mb-1">{{ quiz.text }}</p>
          <v-icon class="pb-1" color="#81e8cb">mdi-file-document-edit</v-icon>
          <a class="ml-1 mr-3 font-weight-thin" style="color: #2f2f2f;">{{ quiz.title }}</a>
        </div>
      </div>
      <div class="py-1" v-for="poll in educationalUnit.pollComponents" :key="poll.id">
        <div class="mx-4">
          <p class="font-weight-thin mb-1">{{ poll.text }}</p>
          <v-icon class="pb-1" color="lime lighten-1">mdi-format-list-checkbox</v-icon>
          <a class="ml-1 mr-3 font-weight-thin" style="color: #2f2f2f;">{{ poll.title }}</a>
        </div>
      </div>
      <div class="py-1" v-for="video in educationalUnit.videoComponents" :key="video.id">
        <div class="mx-4">
          <v-icon class="pb-1" color="indigo lighten-2 ">mdi-file-video</v-icon>
          <a class="ml-1 mr-3 font-weight-thin" @click="setVideo(video.url, video.title)" style="color: #2f2f2f;">{{
            video.title
          }}</a>
        </div>
      </div>
      <div class="py-1" v-for="document in educationalUnit.documentComponents" :key="document.id">
        <div class="mx-4">
          <v-icon class="pb-1" color="red lighten-2 ">mdi-file-document</v-icon>
          <a class="ml-1 mr-3 font-weight-thin" :href="document.url" download style="color: #2f2f2f;">{{
            document.title
          }}</a>
        </div>
      </div>
      <div class="py-1" v-for="meeting in educationalUnit.virtualMeetingComponents" :key="meeting.id">
        <div class="mx-4">
          <v-icon class="pb-1" color="secondary">mdi-message-video</v-icon>
          <a class="ml-1 mr-3 font-weight-thin" style="color: #2f2f2f;">{{ meeting.title }}</a>
        </div>
      </div>
      <div class="py-1" v-for="assigment in educationalUnit.assigmentComponents" :key="assigment.id">
        <div class="mx-4">
          <p class="font-weight-thin mb-1">{{ assigment.text }}</p>
          <v-icon class="pb-1" color="amber darken-2 ">mdi-briefcase-upload-outline</v-icon>
          <router-link :to="{ name: 'Assignment', params: { assignment: assigment.assignmentId } }">
            <a class="ml-1 mr-3 font-weight-thin" style="color: #2f2f2f;">{{ assigment.title }}</a>
          </router-link>
        </div>
      </div>
      <div class="py-1" v-for="link in educationalUnit.linkComponents" :key="link.id">
        <div class="mx-4">
          <a class="mr-3 font-weight-thin" target="_blank" :href="link.url">{{ link.title }}</a>
        </div>
      </div>
      <div class="py-1" v-for="text in educationalUnit.textComponents" :key="text.id">
        <div class="mx-4">
          <p class="mr-3 font-weight-thin">{{ text.text }}</p>
        </div>
      </div>
    </v-card-text>
    <delete-dialog
      v-if="deleteDialog"
      v-model="deleteDialog"
      :type="'Unidad Educativa'"
      @confirm="removeEducationalUnit"
    ></delete-dialog>
  </v-card>
</template>

<script lang="ts">
import { Component, Mixins, Prop } from "vue-property-decorator";
import DeleteDialog from "@/components/Dialogs/Delete.vue";
import { deleteEducationalUnit } from "@/services/educationalUnits";
import { NotificationsMixin } from "@/mixins/notifications";
import { Enrollment } from "@/models/enrollment";

@Component({
  components: {
    DeleteDialog
  }
})
export default class EducationalUnit extends Mixins(NotificationsMixin) {
  @Prop({ default: 0 }) position!: number;
  @Prop({
    default: () => {
      return {};
    }
  })
  educationalUnit!: { id: string; position: number };

  private deleteDialog = false;
  private videoUrl = "";

  private setVideo(url: string, title: string) {
    this.$emit("video", { url: url, title: title });
  }

  private async removeEducationalUnit() {
    try {
      await deleteEducationalUnit(this.$route.params.course, this.educationalUnit.id);
      this.$emit("remove", this.position);
      this.deleteDialog = false;
      this.success("Unidad Educativa", "Se elimino la unidad educativa correctamente");
    } catch (error) {
      this.errorHandling(error);
    }
  }
  private get isProfessorEnrolled(): boolean {
    const enrollment = this.$store.state.userModule.session?.enrollments.find((enrollment: Enrollment) => {
      return enrollment.id == this.$route.params.course;
    });
    return enrollment?.isProfessorEnrollment ?? false;
  }
}
</script>
