<template>
  <div v-cloak @drop.prevent="addFile" @dragover.prevent class="dropbox">
    <h2>Ultima modificacion a la entrega</h2>
    <ul>
      <li class="dropbox__list" v-if="file || assignment">
        <div v-if="file">
          <span style="margin-right: 10px;">{{ file.name }} ({{ file.size | formatSize }})</span>
          <button class="dropbox__remove-btn" @click="removeFile(file)" title="Remove">X</button>
        </div>
        <div v-else>
          <v-icon size="24" class="mr-1">mdi-file-download</v-icon>
          <a class="ml-1 mr-3 font-weight-thin" :href="assignment.fileUrl" download style="color: #2f2f2f;">
            <span style="margin-right: 10px;">{{ assignment.fileName }}</span>
          </a>
        </div>
      </li>
      <li v-else class="dropbox__list">No se han subido entregas</li>
    </ul>
    <input type="file" ref="file" accept=".pdf,.jpg,.jpeg,.png" style="display: none;" @change="filePicked" />

    <v-btn color="success" class="mt-4" @click="selectFile">
      Subir Entrega
    </v-btn>
  </div>
</template>

<script lang="ts">
import { Component, Mixins, Vue, Prop } from "vue-property-decorator";
import { uploadAssignment } from "@/services/assigments";
import { NotificationsMixin } from "@/mixins/notifications";
import { uploadFile } from "@/services/goFile";

Vue.filter("formatSize", function(size: number) {
  if (size > 1024 * 1024 * 1024 * 1024) {
    return (size / 1024 / 1024 / 1024 / 1024).toFixed(2) + " TB";
  } else if (size > 1024 * 1024 * 1024) {
    return (size / 1024 / 1024 / 1024).toFixed(2) + " GB";
  } else if (size > 1024 * 1024) {
    return (size / 1024 / 1024).toFixed(2) + " MB";
  } else if (size > 1024) {
    return (size / 1024).toFixed(2) + " KB";
  }
  return size.toString() + " B";
});

@Component({})
export default class FileLoader extends Mixins(NotificationsMixin) {
  @Prop({
    default: () => {
      return {};
    }
  })
  assignment!: { fileUrl: string; fileName: string };
  $refs!: {
    file: HTMLInputElement;
  };

  private file: File | null = null;

  private get uploadDisabled(): boolean {
    return !this.file;
  }

  private addFile(e: DragEvent) {
    if (e.dataTransfer) {
      const droppedFiles = e.dataTransfer.files;
      if (droppedFiles) {
        this.file = [...droppedFiles][0];
      }
    }
  }

  private removeFile() {
    this.file = null;
  }

  private async uploadAssignment() {
    if (this.file) {
      try {
        const formData = new FormData();
        formData.append("file", this.file);
        const url = await uploadFile(formData);
        const data = {
          fileUrl: url,
          fileName: this.file.name
        };
        const response = await uploadAssignment(this.$route.params.course, this.$route.params.assignment, data);
        this.file = null;
        this.$emit("created", response.deliveredAssigment);
        this.success("Tarea", "Se entrego el tarea correctamente");
      } catch (error) {
        this.errorHandling(error);
      }
    }
  }

  private filePicked(event: Event) {
    if ((event.target as HTMLInputElement).files) {
      const files = (event.target as HTMLInputElement).files;
      if (files) this.file = files[0];
    }
  }

  private async selectFile() {
    if (this.file) {
      await this.uploadAssignment();
    } else {
      this.$refs.file.click();
    }
  }
}
</script>

<style lang="scss" scopped>
.dropbox {
  border: 2.5px dotted #dadada;
  padding: 20px;

  .dropbox__list {
    list-style: none;
    padding: 5px;
  }

  .dropbox__remove-btn {
    font-size: 15px;
    width: 28px;
    height: 28px;
    color: #fff;
    background-color: #ff5252;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  .dropbox__update-btn {
    background: linear-gradient(90deg, rgb(9, 199, 138), rgb(28, 173, 125));
    box-shadow: 0 0 4px 0 #1da677c2 !important;
    border: 1px solid #c8c9ca;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
  }

  .dropbox__update-btn--disabled {
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
  }
}
</style>
