<template>
  <v-card class="ma-5" outlined>
    <v-card-title>
      <v-avatar class="ml-2 mr-4 my-4" slot="image" :color="stringToColor('askdjwk') + '80'" size="70">
        <span class="white--text headline">PA</span>
      </v-avatar>
      <div>
        <p class="ma-0">{{ message.fullName }}</p>
        <p class="ma-0 caption text--secondary">{{ prettyDate(message.createdOn) }}</p>
      </div>
    </v-card-title>
    <v-card-text class="px-6" v-html="message.text"></v-card-text>
    <v-card-actions class="px-4">
      <v-expansion-panels flat v-model="panel">
        <v-expansion-panel>
          <v-expansion-panel-header expand-icon="" class="text-end pa-0">
            <v-btn color="success" class="ml-auto" text @click="appendUser(message.fullName)">Responder</v-btn>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <vue-editor useCustomImageHandler @image-added="handleImageAdded" v-model="content"></vue-editor>
            <v-btn color="success" depressed block class="mx-auto mt-4" :loading="isLoading" @click="createMessage"
              >Comentar</v-btn
            >
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import { Component, Mixins, Prop } from "vue-property-decorator";
import { NotificationsMixin } from "@/mixins/notifications";
import { UtilitiesMixin } from "@/mixins/utilities";
import { Message } from "@/models/thread";
import axios from "axios";
import { VueEditor } from "vue2-editor";
import { createMessage } from "@/services/threads";

@Component({ components: { VueEditor } })
export default class ForumMessage extends Mixins(NotificationsMixin, UtilitiesMixin) {
  @Prop({
    default: () => {
      return {};
    }
  })
  message!: Message;

  private panel = null;
  private isLoading = false;
  private content = "<h2>Escriba su mensaje...</h2>";

  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  private async handleImageAdded(file: File, Editor: any, cursorLocation: any, resetUploader: Function) {
    const formData = new FormData();
    formData.append("image", file);

    try {
      const result = await axios({
        url: "https://api.imgur.com/3/image/",
        headers: {
          Authorization: `Client-ID ${process.env.VUE_APP_CLIENTID}`
        },
        method: "POST",
        data: formData
      });
      const url = result.data.data.link;
      Editor.insertEmbed(cursorLocation, "image", url);
      resetUploader();
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private async createMessage() {
    try {
      this.isLoading = true;
      await createMessage(this.$route.params.thread, this.content);
      this.content = `<p style="color: #0072ff; text-decoration: underline">@${this.message.fullName}</p><p></p>`;
      this.panel = null;
      this.success("Mensaje", "Se creo el mensaje correctamente");
    } catch (error) {
      this.errorHandling(error);
    } finally {
      this.isLoading = false;
    }
  }

  private appendUser(fullName: string) {
    this.content = `<p style="color: #0072ff; text-decoration: underline">@${fullName}</p><p></p>`;
  }

  private prettyDate(messageDate: string) {
    const fecha = new Date(messageDate);
    const options = { year: "numeric", month: "long", day: "numeric" };
    return fecha.toLocaleDateString("es-ES", options);
  }
}
</script>
