<template>
  <v-col sm="5" md="4" lg="3" style="max-width: 400px;">
    <v-list rounded>
      <v-list-item-group color="primary">
        <v-list-item link :to="{ name: 'Course', params: { course: $route.params.course } }" exact>
          <v-icon class="mr-2 mb-1">mdi-home</v-icon>
          Inicio
        </v-list-item>
        <v-list-item link :to="{ name: 'ProfessorsList' }">
          <v-icon class="mr-2 mb-1">mdi-account-tie</v-icon>
          Docentes</v-list-item
        >
        <v-list-item :disabled="!enrolled" link :to="{ name: 'StudentsList' }">
          <v-icon class="mr-2 mb-1">mdi-account</v-icon>
          Estudiantes</v-list-item
        >
        <v-list-item :disabled="!enrolled" link :to="{ name: 'Polls' }">
          <v-icon class="mr-2 mb-1">mdi-format-list-bulleted-square</v-icon>
          Encuestas</v-list-item
        >
        <v-list-item :disabled="!enrolled" @click.stop>
          <v-icon class="mr-2 mb-1">mdi-star</v-icon>
          Calificaciones</v-list-item
        >
        <v-list-item :disabled="!enrolled" @click.stop>
          <v-icon class="mr-2 mb-1">mdi-clipboard-text-outline</v-icon>
          Informes</v-list-item
        >
        <v-list-item :disabled="!enrolled" @click.stop>
          <v-icon class="mr-2 mb-1">mdi-briefcase-upload</v-icon>
          Entregas</v-list-item
        >
        <v-list-item :disabled="!enrolled" @click.stop>
          <v-icon class="mr-2 mb-1">mdi-cog</v-icon>
          Configuracion</v-list-item
        >
      </v-list-item-group>
    </v-list>
    <hr style="border: 1px solid #f1f1f1" />
    <Calendar class="mt-4"></Calendar>
  </v-col>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Calendar from "@/components/Course/Calendar.vue";
import { Enrollment } from "@/models/enrollment";

@Component({
  components: {
    Calendar
  }
})
export default class Sidebar extends Vue {
  private get enrolled(): boolean {
    return this.$store.state.userModule.session.enrollments.find((enrollment: Enrollment) => {
      return enrollment.id == this.$route.params.course;
    });
  }
}
</script>
