<template>
  <v-card class="video ma-0 pa-0">
    <v-toolbar dense color="primary" class="title-toolbar">
      <v-row no-gutters>
        <div class="col-12 text-truncate video__title" style="max-width: 250px; color: #fff;">
          🎵 Reproduciendo - {{ title }}
        </div>
      </v-row>
      <v-spacer></v-spacer>
      <div style="z-index: 10; background: var(--v-primary-base)">
        <v-btn icon dark @click.native="$emit('close')">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>
    </v-toolbar>
    <video width="320" controls autoplay style="margin-bottom: -7px;">
      <source :src="source" />
    </video>
  </v-card>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
@Component({})
export default class EducationalUnit extends Vue {
  @Prop({ default: "" }) source!: string;
  @Prop({ default: "" }) title!: string;
}
</script>

<style lang="scss">
.title-toolbar:first-child > div {
  padding-right: 0px !important;
}
</style>

<style lang="scss" scoped>
.title-toolbar {
  box-shadow: none !important;
}

.video {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 100;

  .video__title {
    color: #fff;
    position: relative !important;
    animation-timing-function: ease-in !important;
    animation: mymove 10s infinite !important;
  }
}

@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 260px;
  }
}
</style>
