<template>
  <div style="width: 100%;">
    <v-textarea
      dense
      flat
      solo
      hide-details
      placeholder="Escribe un mensaje..."
      v-model="message"
      @focus="showEmojis = false"
      @keydown.enter.prevent="sendMessage"
      auto-grow
      rows="1"
      class="py-4 d-inline-block"
      :style="$vuetify.breakpoint.mdAndUp ? 'width: 90%' : 'width: 73%;'"
    ></v-textarea>
    <VEmojiPicker class="emojis__content" @select="selectEmoji" v-if="showEmojis" />
    <v-btn icon large class="my-auto mr-1" @click="showEmojis = !showEmojis">
      <v-icon size="28">mdi-emoticon-outline</v-icon>
    </v-btn>
    <v-btn icon large class="my-auto">
      <v-icon size="28" @click="sendMessage">mdi-send</v-icon>
    </v-btn>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { VEmojiPicker } from "v-emoji-picker";
import { firestore, getServerDate, toDate } from "@/plugins/firebase";

@Component({
  components: {
    VEmojiPicker
  }
})
export default class ChatInput extends Vue {
  private message = "";
  private showEmojis = false;

  private get userId() {
    return this.$store.state.userModule.session.user?.nameid ?? "";
  }

  private selectEmoji(emoji: { data: string }) {
    if (this.message) {
      this.message += emoji.data;
    } else {
      this.message = emoji.data;
    }
  }

  private sendMessage() {
    if (this.message) {
      const createdAt = getServerDate();
      const addMessage = firestore.collection("messages").add({
        chatId: this.$route.params.chat,
        createdAt: createdAt,
        from: this.userId,
        text: this.message
      });
      const updateChat = firestore
        .collection("chats")
        .doc(this.$route.params.chat)
        .update({ updatedAt: createdAt, lastMessage: this.message });
      Promise.all([addMessage, updateChat]).catch();
      this.$emit("add-message", {
        chatId: this.$route.params.chat,
        createdAt: toDate(createdAt),
        from: this.userId,
        text: this.message
      });
      this.message = "";
      this.$emit("scroll");
    }
  }
}
</script>

<style lang="scss" scoped>
@font-face {
  font-family: NotomojiColor;
  font-weight: 400;
  font-display: swap;
  src: url(https://cdn.glitch.com/61908de1-dd0a-4359-a54b-6cb6d41bb5fd%2FNotoColorEmoji.ttf?1513108808150)
    format("truetype");
}

.emojis__content {
  height: 200px;
  width: 250px !important;
  position: fixed;
  bottom: 120px;
  right: 30px;
  z-index: 2;
}
</style>
