<template functional>
  <div class="chat__message" :class="props.mine ? 'mine ml-auto' : 'their mr-auto'">
    {{ props.userId }}
    {{ props.message.text }}
    <span class="chat__message--date">{{ props.date }}</span>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class ChatMessage extends Vue {}
</script>

<style lang="scss" scoped>
.chat__message {
  background-color: #fff;
  background-image: linear-gradient(
    var(--v-primary-base) 0%,
    var(--v-primary-lighten1) 50%,
    var(--v-primary-lighten3) 100%
  );
  background-attachment: fixed;
  margin-bottom: 0.25em;
  width: fit-content;
  max-width: 30ch;
  position: relative;
  padding: 0.7em 1em 1em;
  pointer-events: none;
  color: white;

  .chat__message--date {
    font-size: 11px;
    position: absolute;
    bottom: 0px;
    right: 4px;
    color: #f5f5f5;
  }
}

.mine {
  border-radius: 0.5em 0.5em 0 0.5em !important;
  margin-bottom: 1.25em;
  & + .their {
    margin-top: 0.5em;
  }
}
.their {
  border-radius: 0.5em 0.5em 0.5em 0;
  margin-bottom: 1.25em;
  & + .mine {
    margin-top: 0.5em;
  }
}
</style>
