<template>
  <v-card
    class="pa-4 question"
    :style="$vuetify.breakpoint.xsOnly ? '' : 'width: 800px;'"
    :ripple="false"
    @click.native="$emit('select')"
  >
    <v-card-text class="pt-6 pb-0">
      <v-row no-gutters>
        <v-form lazy-validation ref="question-form" style="width: 100%">
          <v-col cols="12" class="px-2">
            <v-text-field label="Pregunta" placeholder="Pregunta" readonly v-model="question.text"></v-text-field>
          </v-col>
          <v-col cols="12" class="px-2">
            <v-text-field
              v-if="!question.choices"
              label="Respuesta"
              v-model="question.response"
              :rules="[rules.required]"
            ></v-text-field>
            <v-list v-else>
              <v-radio-group v-model="question.selectedChoice" :rules="[rules.required]">
                <v-radio
                  v-for="option in question.choices"
                  :key="option.id"
                  :label="option.text"
                  :value="option.id"
                ></v-radio>
              </v-radio-group>
            </v-list>
          </v-col>
        </v-form>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import { Mixins, Component, Prop } from "vue-property-decorator";
import { RulesMixin } from "@/mixins/rules";

@Component({})
export default class QuestionResponse extends Mixins(RulesMixin) {
  @Prop({ default: {} }) question!: { id: number; text: string; position: string; choices: string[] };

  $refs!: {
    "question-form": HTMLFormElement;
  };
}
</script>

<style lang="scss" scoped>
.question {
  display: inline-block;

  .question__remove {
    right: 0;
    top: 0;
  }
}
</style>
