<template>
  <v-dialog
    v-if="value"
    :value="value"
    @input="close"
    width="auto"
    max-width="650"
    overlay-opacity="0.8"
    overlay-color="white"
  >
    <v-card class="pt-4 add-dialog">
      <v-card-title class="add-dialog__title">
        Perfil de Usuario
      </v-card-title>
      <v-card-text class="d-flex flex-wrap container pt-8">
        <v-form ref="update-professor" lazy-validation>
          <div class="content-container">
            <div class="avatar-roles">
              <v-avatar v-if="!hasName" color="white" :size="$vuetify.breakpoint.xs ? 100 : 130">
                <v-icon light size="130">mdi-account-circle</v-icon>
              </v-avatar>
              <v-avatar
                v-else
                :color="stringToColor(professor.firstName + professor.lastName)"
                :size="$vuetify.breakpoint.xs ? 100 : 130"
              >
                <span class="white--text display-1"
                  >{{ professor.firstName.toUpperCase()[0] }}{{ professor.lastName.toUpperCase()[0] }}</span
                >
              </v-avatar>
              <div class="roles">
                <v-chip
                  v-for="(role, index) in professor.roles"
                  :key="role"
                  :class="index == 1 ? 'ml-2 mt-4' : 'mt-4'"
                  color="green"
                  outlined
                  label
                >
                  {{ role === "Professor" ? "Docente" : "Estudiante" }}
                </v-chip>
              </div>
            </div>
            <div class="content">
              <v-text-field label="Cedula de Identidad" disabled :value="professor.ci" filled rounded></v-text-field>
              <v-text-field
                label="Correo Electronico"
                filled
                rounded
                append-icon="mdi-border-color"
                v-model="professorCopy.email"
                :rules="[rules.mail, rules.required]"
                @keydown.enter="updateProfessor"
              ></v-text-field>
              <v-text-field
                label="Nombre"
                filled
                rounded
                append-icon="mdi-border-color"
                v-model="professorCopy.firstName"
                :rules="[rules.required]"
                @keydown.enter="updateProfessor"
              ></v-text-field>
              <v-text-field
                label="Apellido"
                filled
                rounded
                append-icon="mdi-border-color"
                v-model="professorCopy.lastName"
                :rules="[rules.required]"
                @keydown.enter="updateProfessor"
              ></v-text-field>
            </div>
          </div>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-row no-gutters>
          <v-col cols="12" class="text-end">
            <v-btn text class="mr-1" @click="close">Cerrar</v-btn>
            <v-btn dark class="ml-1 add-dialog__confirm" depressed @click="updateProfessor" :loading="isLoading">
              Confirmar
            </v-btn>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Mixins, Prop } from "vue-property-decorator";
import NoData from "@/components/List/NoData.vue";
import { NotificationsMixin } from "@/mixins/notifications";
import { UtilitiesMixin } from "@/mixins/utilities";
import { RulesMixin } from "@/mixins/rules";
import { GetProfessor } from "@/models/professor";
import { getProfessor, updateProfessor } from "@/services/professors";

@Component({ components: { NoData } })
export default class Profile extends Mixins(NotificationsMixin, UtilitiesMixin, RulesMixin) {
  @Prop({ default: false }) value!: boolean;
  private isLoading = false;
  private professor: GetProfessor = {
    id: "",
    ci: "",
    firstName: "",
    lastName: "",
    email: "",
    roles: []
  };
  private professorCopy = {
    firstName: "",
    lastName: "",
    email: ""
  };

  $refs!: {
    "update-professor": HTMLFormElement;
  };

  private created() {
    this.getProfessor();
  }

  private get hasName(): boolean {
    return !!this.professor.firstName || !!this.professor.lastName;
  }

  private get user() {
    return this.$store.state.userModule.session.user;
  }

  private close() {
    this.$emit("input");
  }

  private async getProfessor() {
    try {
      this.professor = await getProfessor(this.user?.nameid);
      this.professorCopy = { ...this.professor };
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private async updateProfessor() {
    if (this.$refs["update-professor"].validate()) {
      try {
        this.isLoading = true;
        await updateProfessor(
          {
            firstName: this.professorCopy.firstName,
            lastName: this.professorCopy.lastName,
            email: this.professorCopy.email
          },
          this.professor.id
        );
        this.$store.commit("userModule/CHANGE_USER_DATA", { ...this.professorCopy });
        this.success("PERFIL", "Se ha actualizado el perfil correctamente");
      } catch (error) {
        this.errorHandling(error);
        this.professorCopy = this.professor;
      } finally {
        this.isLoading = false;
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.add-dialog {
  border-top: 5px solid #00bcd4;

  .add-dialog__confirm {
    background: linear-gradient(90deg, #09c78a, #1cad7d);
  }
  .add-dialog__title {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}
.content-container {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between !important;
}
.content {
  width: 300px;
  margin-left: 90px;
}
.avatar-roles {
  width: max-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: max-content;
  padding-left: 25px;
}
</style>
