<template functional>
  <v-card class="mx-4 px-2 my-8">
    <div class="d-flex flex-wrap">
      <slot name="image"></slot>
      <div class="item__content mx-auto mx-sm-0">
        <slot name="content"></slot>
        <slot name="online"></slot>
      </div>
      <div class="pa-4 item__actions mx-auto ml-sm-auto mr-sm-0">
        <slot name="actions"></slot>
      </div>
    </div>
  </v-card>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";

@Component({})
export default class Cards extends Vue {}
</script>

<style lang="scss" scoped>
.item__content {
  align-self: center;
}

.item__actions {
  margin-left: auto;
  align-self: center;
}
</style>
