<template>
  <v-progress-circular
    v-if="loading"
    size="120"
    indeterminate
    color="secondary"
    style="display: block;"
    class="mx-auto my-5"
  ></v-progress-circular>
  <v-alert v-else width="95%" prominent border="left" class="alert mx-auto my-5">
    <v-icon v-if="!$vuetify.breakpoint.xsOnly" size="38" class="px-2">mdi-cloud-alert</v-icon>
    <span class="text-12" style="color: #fff;">No se pudo encontrar elementos con ese criterio</span>
  </v-alert>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

@Component({})
export default class NoData extends Vue {
  @Prop({ default: false }) readonly loading!: boolean;
}
</script>

<style lang="scss" scoped>
.alert {
  background: linear-gradient(90deg, #ffc107, #ffeb3b);
  box-shadow: 0 0 3px 0 #ffeb3b !important;
}
</style>
