<template>
  <v-bottom-navigation color="secondary" grow fixed class="hidden-sm-and-up">
    <v-btn link :to="{ name: 'Profile' }">
      <span>Perfil</span>

      <v-icon>mdi-account</v-icon>
    </v-btn>

    <v-btn value="courses" link :to="{ name: 'Courses' }">
      <span>Cursos</span>

      <v-icon>mdi-magnify</v-icon>
    </v-btn>

    <v-btn value="messages" link :to="{ name: 'Chats' }">
      <span>Mensajes</span>

      <v-icon>mdi-message-text-outline</v-icon>
    </v-btn>
  </v-bottom-navigation>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class BottomNavigation extends Vue {}
</script>

<style lang="scss" scoped></style>
