<template>
  <div>
    <v-skeleton-loader
      v-if="!university"
      type="list-item-avatar"
      style="transform: rotate(180deg)"
      class="pa-2"
    ></v-skeleton-loader>
    <v-app-bar v-else app color="primary" dark>
      <div class="d-flex align-center">
        <router-link :to="university.accessPath">
          <v-img
            alt="Vuetify Logo"
            class="shrink mr-2"
            contain
            :src="university && university.logo ? university.logo : require('@/assets/images/logote.png')"
            transition="scale-transition"
            max-width="100"
            max-height="50"
          />
        </router-link>
      </div>

      <v-spacer></v-spacer>

      <v-text-field
        v-if="!$vuetify.breakpoint.xsOnly"
        dense
        hide-details
        label="Buscar cursos..."
        v-model="search"
        @keydown.enter.prevent="getCourses"
        prepend-inner-icon="mdi-magnify"
        flat
        filled
        rounded
        class="pb-4 pt-4"
      ></v-text-field>

      <v-spacer></v-spacer>

      <transition v-if="user" name="scale-transition" mode="out-in" appear>
        <v-menu transition="slide-y-transition" nudge-bottom="45px" bottom avatar>
          <template v-slot:activator="{ on }">
            <span v-on="on">
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn large depressed class="header__avatar pa-0" v-on="on">
                    <v-avatar :color="stringToColor(user.given_name[0]) + '80'">
                      <span class="white--text headline">{{ user.given_name[0] }}</span>
                    </v-avatar>
                    <v-icon class="ma-0" color="#f9f9f9">mdi-chevron-down</v-icon>
                  </v-btn>
                </template>
                <span class="d-inline-block text-truncate" style="max-width: 150px;">{{ user.given_name }}</span>
              </v-tooltip>
            </span>
          </template>
          <v-card width="200px">
            <v-list rounded>
              <v-list-item two-line>
                <v-list-item-content class="justify-center">
                  <div class="text-center mx-auto">
                    <v-avatar :color="stringToColor(user.given_name[0])" class="mb-2">
                      <span class="white--text headline">{{ user.given_name[0] }}</span>
                    </v-avatar>
                    <v-list-item-title>
                      <span class="d-inline-block text-truncate" style="max-width: 150px;">{{ user.given_name }}</span>
                    </v-list-item-title>
                    <v-list-item-subtitle>
                      <span class="d-inline-block text-truncate" style="max-width: 150px;">{{ user.email }}</span>
                    </v-list-item-subtitle>
                    <v-divider class="mt-1"></v-divider>
                  </div>
                </v-list-item-content>
              </v-list-item>

              <v-list-item @click="setProfileVisibility" v-if="!$vuetify.breakpoint.xsOnly" class="text-center">
                <v-list-item-icon class="mr-0">
                  <v-icon>mdi-account</v-icon>
                </v-list-item-icon>
                <v-list-item-title>Perfil</v-list-item-title>
              </v-list-item>

              <v-list-item link :to="{ name: 'MyCourses' }" v-if="!$vuetify.breakpoint.xsOnly" class="text-center">
                <v-list-item-icon class="mr-0">
                  <v-icon>mdi-book-variant</v-icon>
                </v-list-item-icon>
                <v-list-item-title>Mis Cursos</v-list-item-title>
              </v-list-item>

              <v-list-item @click="logout" class="text-center">
                <v-list-item-icon class="mr-0">
                  <v-icon>mdi-logout-variant</v-icon>
                </v-list-item-icon>
                <v-list-item-title>Salir</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-card>
        </v-menu>
      </transition>

      <v-btn v-else text @click="$router.push({ name: 'Login' })">
        <span class="mr-2">Acceder</span>
        <v-icon>mdi-login-variant</v-icon>
      </v-btn>
    </v-app-bar>
    <profile-dialog v-if="profileDialog" v-model="profileDialog" />
  </div>
</template>

<script lang="ts">
import { Mixins, Component } from "vue-property-decorator";
import { mapState } from "vuex";
import { UtilitiesMixin } from "@/mixins/utilities";
import { Session } from "@/store/modules/user";
import ProfileDialog from "@/components/Profile/ProfileDialog.vue";

@Component({
  computed: {
    ...mapState("userModule", ["session"])
  },
  components: {
    ProfileDialog
  }
})
export default class Header extends Mixins(UtilitiesMixin) {
  private session!: Session | null;
  private profileDialog = false;
  private search = "";

  private logout() {
    this.$store.dispatch("logout");
  }

  private setProfileVisibility() {
    this.profileDialog = !this.profileDialog;
  }

  private get university() {
    return this.$store.state.university;
  }

  private get user() {
    return this.session?.user;
  }

  private getCourses() {
    if (!Array.isArray(this.$route.query.courseName)) {
      if (this.$route.query.courseName != this.search)
        this.$router.push({ name: "Courses", query: { courseName: this.search } });
    }
  }
}
</script>

<style lang="scss">
.v-toolbar__content {
  @media (max-width: 600px) {
    padding: 4px !important;
  }
}
</style>

<style lang="scss" scoped>
.header__avatar {
  background: transparent !important;
  width: 85px !important;
  border-radius: 8px;
  min-width: 55px !important;
  height: 55px !important;
}

.header__avatar:after {
  border-radius: 8px !important;
  width: 85px !important;
  color: #fff;
}
</style>
