<template>
  <v-navigation-drawer style="height: calc(-56px + 100vh);" v-model="sidebarVisible" absolute temporary light>
    <v-list rounded class="mt-8">
      <v-list-item-group color="primary">
        <v-list-item @click.stop>
          <v-icon class="mr-2 mb-1">mdi-home</v-icon>
          Inicio
        </v-list-item>
        <v-list-item link :to="{ name: 'ProfessorsList' }" @click.native="hide">
          <v-icon class="mr-2 mb-1">mdi-account-tie</v-icon>
          Docentes</v-list-item
        >
        <v-list-item link :to="{ name: 'StudentsList' }" @click.native="hide">
          <v-icon class="mr-2 mb-1">mdi-account</v-icon>
          Estudiantes</v-list-item
        >
        <v-list-item link :to="{ name: 'Calendar' }" @click.native="hide">
          <v-icon class="mr-2 mb-1">mdi-calendar</v-icon>
          Calendario</v-list-item
        >
        <v-list-item @click.stop>
          <v-icon class="mr-2 mb-1">mdi-format-list-bulleted-square</v-icon>
          Encuestas</v-list-item
        >
        <v-list-item @click.stop>
          <v-icon class="mr-2 mb-1">mdi-star</v-icon>
          Calificaciones</v-list-item
        >
        <v-list-item @click.stop>
          <v-icon class="mr-2 mb-1">mdi-clipboard-text-outline</v-icon>
          Informes</v-list-item
        >
        <v-list-item @click.stop>
          <v-icon class="mr-2 mb-1">mdi-briefcase-upload</v-icon>
          Entregas</v-list-item
        >
        <v-list-item @click.stop>
          <v-icon class="mr-2 mb-1">mdi-cog</v-icon>
          Configuracion</v-list-item
        >
      </v-list-item-group>
    </v-list>
  </v-navigation-drawer>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class SideBar extends Vue {
  private get sidebarVisible() {
    return this.$store.state.sidebarVisible;
  }

  private set sidebarVisible(value: boolean) {
    this.$store.commit("SET_SIDEBARVISIBLE", value);
  }

  private hide() {
    this.$store.commit("SET_SIDEBARVISIBLE", false);
  }
}
</script>

<style lang="scss">
.v-overlay__scrim {
  height: 100vh !important;
}
</style>
