<template>
  <div class="courses full-height">
    <v-spacer></v-spacer>
    <div class="courses">
      <v-row no-gutters justify="center">
        <v-col cols="12" sm="12" md="10" lg="10" align-self="start">
          <v-col cols="12" sm="12" md="10" lg="6">
            <v-text-field
              dense
              hide-details
              label="Buscar Carreras..."
              v-model="searchParameter"
              prepend-inner-icon="mdi-magnify"
              filled
              rounded
              class="pb-4 pt-6"
            ></v-text-field>
          </v-col>
        </v-col>
        <v-col cols="12" sm="12" md="10" lg="10">
          <transition name="scale-transition" mode="out-in">
            <div v-if="filterData.length != 0">
              <div v-for="career in filterData" :key="career.id">
                <cards>
                  <v-avatar slot="image" class="ma-3" size="72" tile color="#fff">
                    <v-icon size="52">mdi-library</v-icon>
                  </v-avatar>
                  <template slot="content">
                    <v-card-title class="headline px-0 ml-2" style="font-weight: '10px'">{{
                      career.name
                    }}</v-card-title>
                  </template>
                  <template slot="actions">
                    <v-btn
                      v-if="!$vuetify.breakpoint.xsOnly"
                      color="primary"
                      class="px-10"
                      depressed
                      @click.prevent="
                        $router.push({
                          name: 'CareerCoursesList',
                          params: { career: career.id }
                        })
                      "
                      >Ver Cursos</v-btn
                    >
                    <v-btn
                      v-else
                      color="primary"
                      class="px-2 py-5"
                      depressed
                      @click.prevent="
                        $router.push({
                          name: 'CareerCoursesList',
                          params: { career: career.id }
                        })
                      "
                      >Ver<br />Cursos</v-btn
                    >
                  </template>
                </cards>
              </div>
            </div>
            <no-data v-else key="no-data" :loading="isLoading"></no-data>
          </transition>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Mixins } from "vue-property-decorator";
import Cards from "@/components/List/Cards.vue";
import NoData from "@/components/List/NoData.vue";
import { NotificationsMixin } from "@/mixins/notifications";
import { Course } from "@/models/course";
import { Career } from "@/models/career";
import { getCourses } from "@/services/courses";
import { University } from "@/models/university";
import { getCareers } from "@/services/careers";

@Component({ components: { Cards, NoData } })
export default class CareersList extends Mixins(NotificationsMixin) {
  private courses: Course[] = [];
  private careers: Career[] = [];
  private searchParameter = "";
  private isLoading = false;

  private get filterData() {
    return this.careers.filter(career => {
      return career.name.toLowerCase().includes(this.searchParameter.toLowerCase());
    });
  }

  private get university(): University {
    return this.$store.state.university;
  }

  private created() {
    this.getCareers().then(() => {
      this.isLoading = false;
    });
  }

  private async getCareers() {
    try {
      this.careers = await getCareers(this.university.id);
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private async getCourses() {
    try {
      if (!Array.isArray(this.$route.query.courseName)) {
        this.isLoading = true;
        this.courses = await getCourses(this.university.id, this.$route.query.courseName);
      }
    } catch (error) {
      this.errorHandling(error);
    }
  }
}
</script>

<style lang="scss" scoped>
.list__overflow {
  max-height: 67vh !important;
  overflow-y: auto !important;
}
.courses {
  margin-bottom: 56px;
}
.list {
  display: flex;
  align-items: center;
}
</style>
