<template>
  <div class="chats">
    <v-row no-gutters class="full-height">
      <v-col cols="12">
        <v-text-field
          dense
          hide-details
          label="Buscar usuario..."
          prepend-inner-icon="mdi-magnify"
          filled
          v-model="search"
          rounded
          class="pb-4 pt-6"
          @keydown.enter.prevent="getUsers"
        ></v-text-field>
      </v-col>
      <v-col class="text-center">
        <v-scale-transition group mode="out-in" appear hide-on-leave>
          <v-alert key="no-results" v-if="noResults" width="95%" prominent border="left" class="alert mx-auto my-3">
            <v-icon v-if="!$vuetify.breakpoint.xsOnly" size="38" class="px-2">mdi-emoticon-poop</v-icon>
            <span class="text-2" style="color: #fff;">No hay usuarios con ese nombre</span>
          </v-alert>
          <v-list key="user-list" rounded dense v-if="users.length != 0">
            <v-subheader>USUARIOS</v-subheader>
            <v-list-item v-for="user in users" :key="user.id" @click.stop>
              <v-list-item-avatar size="52">
                <v-avatar :color="stringToColor(`${user.firstName} ${user.lastName}`)">
                  <span class="white--text headline">{{ user.firstName[0] }}{{ user.lastName[0] }}</span>
                </v-avatar>
              </v-list-item-avatar>

              <v-list-item-content class="text-start">
                <v-list-item-title>{{ user.firstName }} {{ user.lastName }}</v-list-item-title>
              </v-list-item-content>
              <v-list-item-action style="flex-direction: unset;">
                <v-btn color="primary" depressed @click="startChat(user.id, user.firstName, user.lastName)">Chat</v-btn>
              </v-list-item-action>
            </v-list-item>
          </v-list>
          <div v-else key="chat-list">
            <v-progress-circular
              v-if="loading"
              size="120"
              indeterminate
              color="secondary"
              style="display: block;"
              class="mx-auto my-5 mt-12 "
            ></v-progress-circular>
            <div v-if="chats.length === 0 && !loading">
              <v-img
                alt="No messages"
                class="shrink mx-auto mt-12"
                contain
                :src="require('@/assets/images/no-messages.svg')"
                transition="scale-transition"
                max-width="300"
              />
              <p class="pa-4 display-1 font-weight-thin">No tienes conversaciones</p>
            </div>
            <v-list v-else-if="chats.length !== 0 && !loading" dense two-line>
              <v-subheader>CONVERSACIONES</v-subheader>
              <v-list-item
                v-for="chat in chats"
                style="border-bottom: 1.5px solid #f0f0f0;"
                :key="chat.id"
                @click="$router.push({ name: 'Chat', params: { chat: chat.id } })"
              >
                <v-list-item-avatar size="53">
                  <v-avatar :color="stringToColor(chat.displayName)">
                    <span class="white--text headline">{{ chat.displayName[0] }}</span>
                  </v-avatar>
                </v-list-item-avatar>

                <v-list-item-content class="text-start">
                  <v-list-item-title style="font-size: 16px;"
                    >{{ chat.displayName }}
                    <span style="float: right; color: grey; font-size: 0.7rem;" class="font-weight-thin">{{
                      convertTime(parseTimestamp(chat.updatedAt))
                    }}</span>
                  </v-list-item-title>
                  <v-list-item-subtitle class="pt-1">{{ chat.lastMessage }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </div>
        </v-scale-transition>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import { Component, Mixins } from "vue-property-decorator";
import { NotificationsMixin } from "@/mixins/notifications";
import { UtilitiesMixin } from "@/mixins/utilities";
import { User } from "@/models/user";
import { getUsers } from "@/services/users";
import TimeStamp, { firestore, toDate } from "@/plugins/firebase";
import { Chat } from "@/models/chat";

@Component({})
export default class Chats extends Mixins(NotificationsMixin, UtilitiesMixin) {
  private users: User[] = [];
  private search = "";
  private chats: Chat[] = [];
  private noResults = false;
  private loading = false;

  private created() {
    this.loading = true;
    this.getChats().then(() => {
      this.loading = false;
    });
  }

  private get userId() {
    return this.$store.state.userModule.session.user?.nameid ?? "";
  }

  private get username() {
    return this.$store.state.userModule.session.user?.given_name ?? "";
  }

  private parseTimestamp(date: TimeStamp) {
    return toDate(date);
  }

  private async getUsers() {
    if (this.search) {
      try {
        this.users = await getUsers(this.search);
        this.noResults = this.users.length === 0;
      } catch (error) {
        this.errorHandling(error);
      }
    } else {
      this.users = [];
    }
  }

  private isDateGreater(date1: string, date2: string, days: number) {
    const d1 = new Date(date1);
    return +new Date(date2) > d1.setDate(d1.getDate() + (days || 0));
  }

  private convertTime(date: Date): string {
    const date1 = `${date.getMonth() + 1}/${date.getDate()}/${date.getFullYear()}`;
    const now = new Date();
    const date2 = `${now.getMonth() + 1}/${now.getDate()}/${now.getFullYear()}`;
    if (this.isDateGreater(date1, date2, 1)) {
      return `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()}`;
    } else if (this.isDateGreater(date1, date2, 2)) {
      return "Ayer";
    } else {
      let newDate = date.getHours() < 10 ? "0" + date.getHours() : "" + date.getHours();
      newDate += date.getMinutes() < 10 ? ":0" + date.getMinutes() : ":" + date.getMinutes();
      return newDate;
    }
  }

  private async getChats() {
    const docsA = firestore
      .collection("chats")
      .where("userAId", "==", this.userId)
      .get();
    const docsB = firestore
      .collection("chats")
      .where("userBId", "==", this.userId)
      .get();

    const docs = await Promise.all([docsA, docsB]);
    const chats: Chat[] = [];

    docs[0].forEach(doc => {
      const chat = doc.data() as Chat;
      chat.displayName = chat.userB;
      chat.id = doc.id;
      chats.push(chat);
    });
    docs[1].forEach(doc => {
      const chat = doc.data() as Chat;
      chat.displayName = chat.userA;
      chat.id = doc.id;
      chats.push(chat);
    });
    this.chats = chats.sort((a, b) => {
      if (toDate(a.updatedAt) > toDate(b.updatedAt)) {
        return -1;
      } else {
        return 1;
      }
    });
  }

  private async chatExists(userId: string): Promise<string> {
    const docsA = firestore
      .collection("chats")
      .where("userAId", "==", this.userId)
      .where("userBId", "==", userId)
      .get();
    const docsB = firestore
      .collection("chats")
      .where("userAId", "==", userId)
      .where("userBId", "==", this.userId)
      .get();

    const docs = await Promise.all([docsA, docsB]);

    let chatId = "";

    docs[0].forEach(doc => {
      chatId = doc.id;
    });
    docs[1].forEach(doc => {
      chatId = doc.id;
    });
    return chatId;
  }

  private async startChat(userId: string, firstName: string, lastName: string) {
    let chatId = await this.chatExists(userId);
    if (!chatId) {
      const doc = await firestore.collection("chats").add({
        userAId: this.userId,
        userBId: userId,
        userA: this.username,
        userB: `${firstName} ${lastName}`
      });
      chatId = doc.id;
    }
    this.$router.push({ name: "Chat", params: { chat: chatId } });
  }
}
</script>

<style lang="scss" scoped>
.chats {
  margin-bottom: 56px;
}

.alert {
  background: linear-gradient(90deg, #4caf78, #4caf86);
  box-shadow: 0 0 3px 0 #4caf78 !important;
}
</style>
