<template>
  <div class="chat">
    <v-row no-gutters class="full-height" style="overflow: hidden;">
      <v-col cols="12" class="chat__container" ref="chat">
        <transition name="scale-transition" mode="out-in" appear>
          <div v-if="!noMessages" key="messages">
            <infinite-loading v-if="enableInfiniteScroll" spinner="waveDots" direction="top" @infinite="loadMore">
              <div slot="no-more">
                <p class="font-weight-thin" style="color: grey;">No hay mensajes :(</p>
              </div>
              <div slot="no-results">
                <p class="font-weight-thin" style="color: grey;">No tienes mas mensajes :(</p>
              </div>
            </infinite-loading>
            <chat-message
              v-for="message in messages"
              :key="message.id"
              :message="message"
              :mine="userId === message.from"
              :date="convertTime(message.createdAt)"
            ></chat-message>
          </div>
          <div v-else key="no-messages" class="chat__no-messages">
            <v-img
              alt="No messages"
              class="shrink mx-auto mt-12"
              contain
              :src="require('@/assets/images/no-messages.svg')"
              transition="scale-transition"
              max-width="300"
            />
            <p class="pa-4 display-1 font-weight-thin">No tienes mensajes</p>
          </div>
        </transition>
      </v-col>
      <v-col cols="12" class="chat__input" :style="$vuetify.breakpoint.xsOnly ? 'bottom: 56px' : 'bottom: 3px'">
        <chat-input @scroll="scrollToBottom" @add-message="addMessage"></chat-input>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import InfiniteLoading from "vue-infinite-loading";
import { firestore, toDate } from "@/plugins/firebase";
import { Message } from "@/models/message";
import ChatInput from "@/components/Chat/ChatInput.vue";
import ChatMessage from "@/components/Chat/ChatMessage.vue";

@Component({
  components: {
    InfiniteLoading,
    ChatInput,
    ChatMessage
  }
})
export default class Chat extends Vue {
  private page = 0;
  private messages: Message[] = [];
  private docRef: unknown = null;
  private enableInfiniteScroll = false;
  private noMessages = false;
  $refs!: {
    chat: HTMLDivElement;
  };

  private created() {
    this.initialLoadMessages();
  }

  private get userId() {
    return this.$store.state.userModule.session.user?.nameid ?? "";
  }

  private loadMore($state: { loaded: Function; complete: Function }) {
    setTimeout(async () => {
      const newMessages = await this.getMoreMessages();
      if (newMessages.length != 0) {
        this.page += 1;
        this.messages.unshift(...newMessages);
        $state.loaded();
      } else {
        $state.complete();
      }
    }, 500);
  }

  private async getMoreMessages(): Promise<Message[]> {
    const messages: Message[] = [];
    const docs = await firestore
      .collection("messages")
      .where("chatId", "==", this.$route.params.chat)
      .orderBy("createdAt", "desc")
      .limit(10)
      .startAfter(this.docRef)
      .get();

    docs.forEach(doc => {
      const newMessage = doc.data() as Message;
      newMessage.id = doc.id;
      newMessage.createdAt = toDate(doc.data().createdAt);
      messages.unshift(newMessage);
      this.docRef = doc;
    });
    return messages;
  }

  private async listenToNewMessages() {
    await firestore
      .collection("messages")
      .where("chatId", "==", this.$route.params.chat)
      .orderBy("createdAt", "desc")
      .limit(10)
      .onSnapshot(querySnapshot => {
        querySnapshot.docChanges().forEach(docChanged => {
          const newMessage = docChanged.doc.data() as Message;
          newMessage.id = docChanged.doc.id;
          newMessage.createdAt = toDate(docChanged.doc.data().createdAt);
          if (!this.messages.some(message => message.id == docChanged.doc.id)) {
            if (this.userId !== docChanged.doc.data().from) this.messages.push(newMessage);
          }
        });
      });
  }

  private async initialLoadMessages() {
    const docs = await firestore
      .collection("messages")
      .where("chatId", "==", this.$route.params.chat)
      .orderBy("createdAt", "desc")
      .limit(10)
      .get();
    docs.forEach(doc => {
      const newMessage = doc.data() as Message;
      newMessage.id = doc.id;
      newMessage.createdAt = toDate(doc.data().createdAt);
      this.messages.unshift(newMessage);
      this.docRef = doc;
    });
    this.noMessages = this.messages.length === 0;
    this.enableInfiniteScroll = true;
    this.scrollToBottom();
    this.listenToNewMessages();
  }

  private convertTime(date: Date): string {
    let newDate = date.getHours() < 10 ? "0" + date.getHours() : "" + date.getHours();
    newDate += date.getMinutes() < 10 ? ":0" + date.getMinutes() : ":" + date.getMinutes();
    return newDate;
  }

  private scrollToBottom() {
    Vue.nextTick(() => {
      const chatContainer = this.$refs.chat;
      if (chatContainer) {
        chatContainer.scrollTop = chatContainer.scrollHeight;
      }
    });
  }

  private addMessage(message: Message) {
    this.messages.push(message);
    this.noMessages = false;
  }
}
</script>

<style lang="scss" scoped>
.chat {
  margin-bottom: 56px;
  height: 100vh;
  overflow: hidden;
  margin-bottom: 128px;

  .chat__container {
    margin-bottom: 128px;
    position: relative;
    overflow-y: auto;
    height: 100%;
  }

  .chat__no-messages {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }

  .chat__input {
    border-top: 1px solid #f1f1f1;
    position: fixed !important;
    right: 0;
    background: #ffffff;
    display: flex;
  }
}
</style>
