<template>
  <div class="courses full-height">
    <v-spacer></v-spacer>
    <div class="courses">
      <v-row no-gutters justify="center">
        <v-col cols="12" sm="12" md="10" lg="10" align-self="start">
          <v-col cols="12" sm="12" md="10" lg="6">
            <v-text-field
              dense
              hide-details
              label="Buscar cursos..."
              v-model="searchParameter"
              prepend-inner-icon="mdi-magnify"
              filled
              rounded
              class="pb-4 pt-6"
            ></v-text-field>
          </v-col>
        </v-col>
        <v-col cols="12" sm="12" md="10" lg="10">
          <transition name="scale-transition" mode="out-in">
            <div v-if="filterData.length != 0">
              <div
                v-for="course in filterData"
                :key="course.id"
                @click="$router.push({ name: 'Course', params: { course: course.id } })"
              >
                <cards>
                  <template slot="content">
                    <v-card-title class="headline px-0 ml-2" style="font-weight: '10px'">{{
                      course.name
                    }}</v-card-title>
                  </template>
                  <v-chip class="mb-2 ml-2" slot="online" color="green" outlined label>
                    {{ course.validateWithBedelia ? "Requiere Bedelias" : "No Requiere Bedelias" }}
                  </v-chip>
                  <v-chip class="mb-2 ml-2" slot="online" color="purple" outlined label>
                    {{ course.isRemote ? "Remoto" : "Presencial" }}
                  </v-chip>
                </cards>
              </div>
            </div>
            <no-data v-else key="no-data" :loading="isLoading"></no-data>
          </transition>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Mixins, Watch } from "vue-property-decorator";
import Cards from "@/components/List/Cards.vue";
import NoData from "@/components/List/NoData.vue";
import { NotificationsMixin } from "@/mixins/notifications";
import { Course } from "@/models/course";
import { getCourses } from "@/services/courses";
import { University } from "@/models/university";

@Component({ components: { Cards, NoData } })
export default class CourseList extends Mixins(NotificationsMixin) {
  @Watch("university", { immediate: true, deep: true })
  private onUniversityChanges(university: University) {
    this.isLoading = true;
    if (university) {
      this.getCourses().then(() => {
        this.isLoading = false;
      });
    }
  }

  private courses: Course[] = [];
  private searchParameter = "";
  private isLoading = false;

  private get filterData() {
    return this.courses.filter(course => {
      return course.name.toLowerCase().includes(this.searchParameter.toLowerCase());
    });
  }

  private get university(): University {
    return this.$store.state.university;
  }

  private async getCourses() {
    try {
      if (!Array.isArray(this.$route.query.courseName)) {
        this.courses = await getCourses(this.university.id, this.$route.query.courseName);
      }
    } catch (error) {
      this.errorHandling(error);
    }
  }
}
</script>

<style lang="scss" scoped>
.list__overflow {
  max-height: 67vh !important;
  overflow-y: auto !important;
}
.courses {
  margin-bottom: 56px;
}
.list {
  display: flex;
  align-items: center;
}
</style>
