<template>
  <div class="full-height course">
    <v-row no-gutters>
      <v-col v-if="$vuetify.breakpoint.xsOnly" cols="12">
        <v-btn icon large @click="toggleSidebar">
          <v-icon>mdi-menu</v-icon>
        </v-btn>
      </v-col>
      <v-col
        v-if="!$vuetify.breakpoint.xsOnly"
        sm="5"
        md="4"
        lg="3"
        class="pr-2 pb-sm-10"
        style="border-right: 1px solid #f1f1f1; max-width: 400px;"
      >
        <v-expansion-panels flat>
          <v-expansion-panel>
            <v-expansion-panel-header expand-icon="mdi-menu-down">
              <h1 class="subtitle-2 font-weight-medium ma-0" style="">
                Comunicados recientes
              </h1>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-row no-gutters>
                <v-col
                  cols="12"
                  v-for="notice in notices"
                  :key="notice.createdOn"
                  class="pa-2 text-truncate"
                  @click="$router.push({ name: 'Notice', params: { notice: notice.id } })"
                >
                  {{ notice.title }}
                  <p class="mb-0" style="font-size: .7rem; color: #525252">
                    {{ notice.createdOn }}
                  </p>
                </v-col>
              </v-row>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
        <v-list rounded>
          <v-list-item-group v-model="courseSection" color="primary">
            <v-list-item @click.stop>
              <v-icon class="mr-2 mb-1">mdi-home</v-icon>
              Inicio
            </v-list-item>
            <v-list-item link :to="{ name: 'ProfessorsList' }">
              <v-icon class="mr-2 mb-1">mdi-account-tie</v-icon>
              Docentes</v-list-item
            >
            <v-list-item :disabled="!enrolled" link :to="{ name: 'StudentsList' }">
              <v-icon class="mr-2 mb-1">mdi-account</v-icon>
              Estudiantes</v-list-item
            >
            <v-list-item :disabled="!enrolled" link :to="{ name: 'Polls' }">
              <v-icon class="mr-2 mb-1">mdi-format-list-bulleted-square</v-icon>
              Encuestas</v-list-item
            >
            <v-list-item :disabled="!enrolled" @click.stop>
              <v-icon class="mr-2 mb-1">mdi-star</v-icon>
              Calificaciones</v-list-item
            >
            <v-list-item :disabled="!enrolled" @click.stop>
              <v-icon class="mr-2 mb-1">mdi-clipboard-text-outline</v-icon>
              Informes</v-list-item
            >
            <v-list-item :disabled="!enrolled" @click.stop>
              <v-icon class="mr-2 mb-1">mdi-briefcase-upload</v-icon>
              Entregas</v-list-item
            >
            <v-list-item :disabled="!enrolled" @click.stop>
              <v-icon class="mr-2 mb-1">mdi-cog</v-icon>
              Configuracion</v-list-item
            >
          </v-list-item-group>
        </v-list>
        <hr style="border: 1px solid #f1f1f1" />
        <Calendar class="mt-4"></Calendar>
      </v-col>
      <v-col cols="12" sm="7" md="8" lg="9" class="pa-sm-12">
        <v-card flat>
          <v-card-title class="display-1"
            >{{ course.name }}
            <v-chip class="ma-2 mb-0" color="secondary" outlined small>
              {{ course.isRemote ? "Remoto" : "Presencial" }}
              <v-icon right class="mb-0">
                {{ course.isRemote ? "mdi-video-stabilization" : "mdi-account" }}
              </v-icon>
            </v-chip>
          </v-card-title>
          <v-card-text>
            <div v-if="enrolled">
              <v-scale-transition group mode="out-in" appear hide-on-leave>
                <div v-if="isLoading" key="skeleton-loaders">
                  <v-skeleton-loader
                    v-for="unit in 5"
                    :key="unit"
                    class="mx-auto my-5"
                    max-height="200"
                    type="table-heading, list-item-three-line"
                  >
                  </v-skeleton-loader>
                </div>
                <educational-unit-component
                  v-else
                  v-for="(unit, index) in sortEducationalUnits"
                  :key="unit.id"
                  :educationalUnit="unit"
                  :position="index"
                  @remove="removeUnit"
                  @video="setVideo"
                  @update="openUpdateUnit"
                />
              </v-scale-transition>
              <div v-if="!$vuetify.breakpoint.xsOnly && isProfessorEnrolled" class="text-center mt-4">
                <v-btn text color="success" small @click="showAddUnit = true">
                  <v-icon>mdi-plus</v-icon>
                  Agregar
                </v-btn>
              </div>
            </div>
            <div v-else>
              <h1 class="subtitle-1 font-weight-light my-8" style="font-size: 1.5rem !important">
                Auto-matriculación (Estudiante)
              </h1>
              <p>Necesitas estar matriculado para ver el contenido de este curso</p>
              <v-btn color="success" @click="enrollUser" :loading="enrollLoader">
                Matricularme
              </v-btn>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <sidebar v-if="$vuetify.breakpoint.xsOnly" />
    <add-educational-unit
      v-if="showAddUnit"
      v-model="showAddUnit"
      :position="sortEducationalUnits.length"
      :courseId="course.id"
      @create="addEducationalUnit"
    ></add-educational-unit>
    <video-player
      v-if="videoUrl"
      :source="videoUrl"
      :title="videoTitle"
      @close="
        videoUrl = '';
        videoTitle = '';
      "
    ></video-player>
    <update-educational-unit
      v-if="showUpdateUnit"
      v-model="showUpdateUnit"
      :educationalUnit="{ ...selectedUnit }"
      @update="updateUnit"
    ></update-educational-unit>
  </div>
</template>

<script lang="ts">
import { Component, Mixins } from "vue-property-decorator";
import { NotificationsMixin } from "@/mixins/notifications";
import { Course } from "@/models/course";
import { getCourse } from "@/services/courses";
import { EducationalUnit } from "@/models/educationalUnit";
import EducationalUnitComponent from "@/components/Course/EducationalUnit.vue";
import Sidebar from "@/components/Layout/Sidebar.vue";
import Calendar from "@/components/Course/Calendar.vue";
import AddEducationalUnit from "@/components/Course/AddEducationalUnit.vue";
import VideoPlayer from "@/components/Course/VideoPlayer.vue";
import UpdateEducationalUnit from "@/components/Course/UpdateEducationalUnit.vue";
import { activeGofile } from "@/services/goFile";
import { getNoticesByCourse } from "@/services/notices";
import { Notice } from "@/models/notice";
import { Enrollment } from "@/models/enrollment";
import { enroll } from "@/services/users";

@Component({
  components: {
    EducationalUnitComponent,
    Sidebar,
    AddEducationalUnit,
    Calendar,
    VideoPlayer,
    UpdateEducationalUnit
  }
})
export default class CourseView extends Mixins(NotificationsMixin) {
  private courseSection = 0;
  private isLoading = false;
  private enrollLoader = false;
  private showAddUnit = false;
  private showUpdateUnit = false;
  private selectedUnitIndex = 0;
  private selectedUnit = {};
  private videoUrl = "";
  private videoTitle = "";
  private course: Course = {
    id: "",
    name: "",
    validateWithBedelia: false,
    isRemote: false
  };
  private notices: Notice[] = [];

  private created() {
    this.isLoading = true;
    Promise.all([this.getCourse(), this.getNotices()]).then(() => {
      this.isLoading = false;
    });
  }

  private toggleSidebar() {
    this.$store.commit("SET_SIDEBARVISIBLE", !this.sidebarVisible);
  }

  private get sidebarVisible() {
    return this.$store.state.sidebarVisible;
  }

  private openUpdateUnit(unit: { index: number; unit: EducationalUnit }) {
    this.showUpdateUnit = true;
    this.selectedUnitIndex = unit.index;
    this.selectedUnit = JSON.parse(JSON.stringify(unit.unit));
  }

  private updateUnit(unit: EducationalUnit) {
    if (this.sortEducationalUnits) {
      this.sortEducationalUnits[this.selectedUnitIndex] = unit;
    }
  }

  private setVideo(video: { url: string; title: string }) {
    this.videoUrl = video.url;
    this.videoTitle = video.title;
  }

  private get universityId() {
    return this.$store.state.userModule.session.user.Tenant;
  }

  private async getNotices() {
    try {
      const notices = await getNoticesByCourse(this.universityId, this.$route.params.course);
      this.notices = notices.sort((a, b) => {
        return a > b ? 1 : -1;
      });
    } catch (error) {
      console.log(error);
    }
  }

  private activeGoFile() {
    try {
      if (this.sortEducationalUnits) {
        const promises: Promise<unknown>[] = [];
        this.sortEducationalUnits.forEach(unit => {
          unit.videoComponents?.forEach(video => {
            promises.push(activeGofile(video.url.split("/")[4]));
          });
          unit.documentComponents?.forEach(document => {
            promises.push(activeGofile(document.url.split("/")[4]));
          });
        });
        Promise.all(promises).catch();
      }
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private async enrollUser() {
    try {
      this.enrollLoader = true;
      await enroll(this.$route.params.course);
      const payload = {
        universityId: this.universityId,
        enrollment: { id: this.$route.params.course, isProfessorEnrollment: false, name: this.course.name }
      };
      console.log(payload);
      this.$store.commit("userModule/SET_ENROLLMENT", payload);
      this.success("Curso", "Se matriculo al curso correctamente");
    } catch (error) {
      this.errorHandling(error);
    } finally {
      this.enrollLoader = false;
    }
  }

  private async getCourse() {
    try {
      this.course = await getCourse(this.$route.params.course);
      this.activeGoFile();
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private addEducationalUnit(educationalUnit: EducationalUnit) {
    this.sortEducationalUnits?.push(educationalUnit);
  }

  private removeUnit(position: number) {
    this.sortEducationalUnits?.splice(position, 1);
  }

  private get sortEducationalUnits() {
    return this.course.components?.sort((a, b) => {
      return a.position - b.position;
    });
  }

  private get enrolled(): boolean {
    return this.$store.state.userModule.session.enrollments.find((enrollment: Enrollment) => {
      return enrollment.id == this.$route.params.course;
    });
  }
  private get isProfessorEnrolled(): boolean {
    const enrollment = this.$store.state.userModule.session?.enrollments.find((enrollment: Enrollment) => {
      return enrollment.id == this.$route.params.course;
    });
    return enrollment?.isProfessorEnrollment ?? false;
  }
}
</script>

<style scoped lang="scss">
.course {
  margin-bottom: 56px;
  width: 100%;
}
</style>
