<template>
  <div class="home full-height">
    <v-row class="text-center">
      <v-col cols="12">
        <v-img
          :src="university && university.logo ? university.logo : require('@/assets/images/logo.jpg')"
          class="my-2"
          contain
          height="200"
        />
      </v-col>

      <v-col class="mb-4">
        <h1 v-if="university" class="display-1 font-weight-bold mb-3">Bienvenido a la {{ university.name }}</h1>

        <p v-if="university" class="subheading font-weight-regular" v-html="university.description"></p>
      </v-col>
      <v-col cols="12">
        <v-btn class="ml-auto mr-4" color="secondary" large rounded link :to="{ name: 'CareersList' }"
          >Ver Carreras</v-btn
        >
        <v-btn
          class="ml-auto"
          color="secondary"
          large
          rounded
          link
          :to="isLogged ? { name: 'UniversityPolls' } : { name: 'Login' }"
          >Ver Encuestas</v-btn
        >
      </v-col>
      <v-col cols="12" class="mt-12">
        <h1 class="display-1 font-weight-bold mb-3" style="font-size: 1.9rem !important;">Noticias</h1>
        <hr style="border: 0.5px solid #f0f0f0" />
      </v-col>
    </v-row>
    <v-row no-gutters class="px-sm-12">
      <v-scale-transition group mode="out-in" appear hide-on-leave style="width: 100%;">
        <div v-if="isLoading" key="skeleton-loaders">
          <v-skeleton-loader
            v-for="unit in 2"
            :key="unit"
            class="mx-auto my-5"
            max-height="200"
            type="table-heading, list-item-three-line"
          >
          </v-skeleton-loader>
        </div>
        <v-col v-else cols="12" class="px-sm-12 my-5" v-for="notice in notices" :key="notice.createdOn">
          <v-card outlined>
            <v-card-title>
              <h1 class="display-1 font-weight-bold" style="font-size: 1.5rem !important;">{{ notice.title }}</h1>
              <v-btn icon class="ml-auto" link :to="{ name: 'Notice', params: { notice: notice.id } }">
                <v-icon>mdi-exit-to-app</v-icon>
              </v-btn>
            </v-card-title>
            <v-card-text
              v-html="notice.message"
              style="overflow-x: auto; overflow-y: hidden; max-height: 250px;"
            ></v-card-text>
            <v-card-actions class="d-block">
              <p class="mb-0 ml-2 font-weight-thin" style="font-size: .7rem; color: #525252">{{ notice.createdOn }}</p>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-scale-transition>
    </v-row>
  </div>
</template>

<script lang="ts">
import { Component, Mixins, Watch } from "vue-property-decorator";
import { NotificationsMixin } from "@/mixins/notifications";
import { getNoticesOfUniversity } from "@/services/notices";
import { Notice } from "@/models/notice";
import { University } from "@/models/university";

@Component({})
export default class Home extends Mixins(NotificationsMixin) {
  @Watch("university", { immediate: true, deep: true })
  private onUniversityChanges(university: University) {
    if (university) {
      this.getNoticesOfUniversity();
    }
  }
  private notices: Notice[] = [];
  private isLoading = false;

  private get university() {
    return this.$store.state.university;
  }

  private get isLogged() {
    return this.$store.state.userModule.session;
  }

  private async getNoticesOfUniversity() {
    try {
      this.isLoading = true;
      this.notices = await getNoticesOfUniversity(this.university.id);
    } catch (error) {
      this.errorHandling(error);
    } finally {
      this.isLoading = false;
    }
  }
}
</script>

<style lang="scss" scoped>
.home {
  padding: 10px;
}
</style>
