<template>
  <div class="full-height invalid-token">
    <v-img
      alt="Waves"
      contain
      :src="require('@/assets/images/login-image.svg')"
      transition="scale-transition"
      class="invalid-token__waves"
    />
    <div class="text-center" style="width: 350px;">
      <v-img
        alt="Vuetify Logo"
        class="shrink mr-2 invalid-token__image"
        contain
        :src="require('@/assets/images/404.svg')"
        transition="scale-transition"
        :style="$vuetify.breakpoint.xsOnly ? 'top: 17%' : 'top: 22%'"
        max-width="300"
      />
      <span class="invalid-token__letter">4</span>
      <span class="invalid-token__letter" style="color: #00bcd4">0</span>
      <span class="invalid-token__letter">4</span>
      <p class="font-weight-medium display-1">Whoops!</p>
      <p>Lo sentimos pero su token expiro</p>
      <router-link to="/" style="text-decoration: none;"
        ><v-btn color="primary" :rounded="$vuetify.breakpoint.xsOnly" depressed block x-large class="mt-8"
          >Volver al Inicio</v-btn
        ></router-link
      >
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class InvalidToken extends Vue {}
</script>

<style lang="scss" scoped>
.invalid-token {
  display: grid;
  place-items: center;

  .invalid-token__letter {
    font-size: 120px;
    color: #3d4a52;
    z-index: 100;
  }

  .invalid-token__image {
    position: absolute;
    margin-left: 45px;
    opacity: 0.4;
    z-index: 1;
  }

  .invalid-token__waves {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    width: 45%;
    opacity: 1;
  }
}
</style>
