<template>
  <div class="full-height">
    <v-img
      alt="Logo"
      contain
      :src="require('@/assets/images/logo.jpg')"
      transition="scale-transition"
      :width="$vuetify.breakpoint.xsOnly ? '0' : '128'"
      class="landing__logo ma-0"
    />
    <v-img
      alt="Waves"
      contain
      :src="require('@/assets/images/login-image.svg')"
      transition="scale-transition"
      class="landing__waves mb-auto"
      :width="$vuetify.breakpoint.xsOnly ? '350' : '45%'"
    />
    <v-row no-gutters justify="center" class="pa-sm-12">
      <v-col cols="12" sm="12" md="10" lg="10" class="pa-sm-12">
        <transition name="scale-transition" mode="out-in">
          <div v-if="universities.length != 0" key="list">
            <cards v-for="university in universities" :key="university.id">
              <v-avatar slot="image" class="mx-auto ma-sm-3" size="102" tile color="#fff">
                <v-img
                  :src="university.logo ? university.logo : require('@/assets/images/logo.jpg')"
                  max-height="90"
                  max-width="90"
                ></v-img>
              </v-avatar>
              <template slot="content">
                <v-card-title class="headline px-0">{{ university.name }}</v-card-title>
                <v-card-subtitle class="px-0 pb-0">{{ university.accessPath }}</v-card-subtitle>
              </template>
              <template slot="actions">
                <v-btn
                  color="success"
                  class="px-10"
                  depressed
                  link
                  @click="enterUniversity(university.accessPath, university.id)"
                  >Acceder</v-btn
                >
              </template>
            </cards>
          </div>
          <no-data v-else key="no-data" :loading="isLoading"></no-data>
        </transition>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import { Component, Mixins } from "vue-property-decorator";
import Cards from "@/components/List/Cards.vue";
import NoData from "@/components/List/NoData.vue";
import { University } from "@/models/university";
import { NotificationsMixin } from "@/mixins/notifications.ts";
import { getUniversities } from "@/services/universities";
import { mapState } from "vuex";
import { Session } from "@/store/modules/user";
import { updateHeaders } from "@/plugins/axios";

@Component({
  components: {
    Cards,
    NoData
  },
  computed: { ...mapState("userModule", ["sessions", "session"]) }
})
export default class Landing extends Mixins(NotificationsMixin) {
  private session!: Session;
  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  private sessions!: any;
  private universities: University[] = [];
  private isLoading = false;

  private created() {
    this.isLoading = true;
    this.getUniversities().then(() => {
      this.isLoading = false;
    });
  }

  private async getUniversities() {
    try {
      this.universities = await getUniversities();
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private get university() {
    return this.$store.state.userModule.user;
  }

  private enterUniversity(universityPath: string, universityId: string) {
    if (this.sessions && this.sessions[universityId]) {
      this.$store.commit("userModule/SET_SESSION", this.sessions[universityId]);
      updateHeaders(this.sessions[universityId].tokens.accessToken);
      // store.commit("SET_UNIVERSITY", university);
      // this
      this.$router.push(universityPath);
    } else {
      this.$store.commit("userModule/CLEAR_SESSION", universityId);
      this.$router.push(universityPath);
    }
  }
}
</script>

<style lang="scss" scoped>
.list__overflow {
  max-height: 67vh !important;
  overflow-y: auto !important;
}

.landing__waves {
  position: fixed;
  top: 0;
  right: 0;
  opacity: 1;
}

.landing__logo {
  position: fixed;
  height: 100px;
  top: 10px;
  left: 10px;
  z-index: 10;
}
</style>
