<template>
  <div class="full-height login">
    <v-img
      alt="Logo"
      contain
      :src="require('@/assets/images/logo.jpg')"
      transition="scale-transition"
      :width="$vuetify.breakpoint.xsOnly ? '0' : '128'"
      class="login__logo ma-0"
    />
    <v-img
      alt="Waves"
      contain
      :src="require('@/assets/images/login-image.svg')"
      transition="scale-transition"
      class="login__waves mb-auto"
      :width="$vuetify.breakpoint.xsOnly ? '0' : '45%'"
    />
    <login-form />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import LoginForm from "@/components/Login/LoginForm.vue";

@Component({
  components: {
    LoginForm
  }
})
export default class Login extends Vue {}
</script>

<style scoped lang="scss">
.login {
  display: grid;

  .login__waves {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;
  }

  .login__logo {
    position: absolute;
    height: 100px;
    top: 10px;
    left: 10px;
    z-index: 10;
  }
}
</style>
