<template>
  <div class="courses full-height">
    <v-spacer></v-spacer>
    <div class="courses">
      <v-row no-gutters justify="center">
        <v-col cols="12" sm="12" md="10" lg="10" align-self="start">
          <v-col cols="12" sm="12" md="10" lg="6">
            <v-text-field
              dense
              hide-details
              label="Buscar cursos..."
              v-model="searchParameter"
              prepend-inner-icon="mdi-magnify"
              filled
              rounded
              class="pb-4 pt-6"
            ></v-text-field>
          </v-col>
        </v-col>
        <v-col cols="12" sm="12" md="10" lg="10">
          <transition name="scale-transition" mode="out-in">
            <div v-if="filterData.length != 0">
              <div
                v-for="course in filterData"
                :key="course.id"
                @click="$router.push({ name: 'Course', params: { course: course.id } })"
              >
                <cards>
                  <v-avatar slot="image" class="ma-3" size="72" tile color="#fff">
                    <v-icon size="52">mdi-book-outline</v-icon>
                  </v-avatar>
                  <template slot="content">
                    <v-card-title class="headline px-0 ml-2" style="font-weight: '10px'">{{
                      course.name
                    }}</v-card-title>
                  </template>
                  <template slot="actions">
                    <v-icon class="mb-1">mdi-star</v-icon>
                    Calificacion:
                    {{ course.score }}
                  </template>
                </cards>
              </div>
            </div>
            <no-data v-else key="no-data" :loading="isLoading"></no-data>
          </transition>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Mixins } from "vue-property-decorator";
import Cards from "@/components/List/Cards.vue";
import NoData from "@/components/List/NoData.vue";
import { NotificationsMixin } from "@/mixins/notifications";
import { getEnrollments } from "@/services/users";
import { Enrollment } from "@/models/enrollment";

@Component({ components: { Cards, NoData } })
export default class MyCourses extends Mixins(NotificationsMixin) {
  private searchParameter = "";
  private isLoading = false;
  private courses: Enrollment[] = [];

  private created() {
    this.getCourses();
  }

  private get filterData() {
    return this.courses.filter(course => {
      return course.name.toLowerCase().includes(this.searchParameter.toLowerCase());
    });
  }

  private async getCourses() {
    try {
      this.courses = await getEnrollments(this.$store.state.userModule.session.user.nameid);
    } catch (error) {
      this.errorHandling(error);
    }
  }
}
</script>

<style lang="scss" scoped>
.list__overflow {
  max-height: 67vh !important;
  overflow-y: auto !important;
}
.courses {
  margin-bottom: 56px;
}
.list {
  display: flex;
  align-items: center;
}
</style>
