<template>
  <div class="notice full-height">
    <v-scale-transition group mode="out-in" appear origin="center" hide-on-leave>
      <div v-if="isLoading" key="skeleton-loaders">
        <v-skeleton-loader v-for="unit in 5" :key="unit" class="mx-auto my-5" max-height="200" type="card-heading">
        </v-skeleton-loader>
      </div>
      <v-card v-else flat class="pa-5" key="card">
        <v-card-title>
          <h1 class="display-1 font-weight-bold mb-3">{{ notice.title }}</h1>
        </v-card-title>
        <v-card-subtitle style="font-size: .7rem; color: #525252">{{ notice.createdOn }}</v-card-subtitle>
        <v-card-text v-html="notice.message"></v-card-text>
      </v-card>
    </v-scale-transition>
  </div>
</template>

<script lang="ts">
import { Component, Mixins } from "vue-property-decorator";
import { NotificationsMixin } from "@/mixins/notifications";
import { Notice } from "@/models/notice";
import { getNotice } from "@/services/notices";

@Component({ components: {} })
export default class NoticeView extends Mixins(NotificationsMixin) {
  private notice: Notice = { id: "", message: "", title: "", createdOn: "" };
  private isLoading = false;

  private created() {
    this.isLoading = true;
    this.getNotice().then(() => {
      this.isLoading = false;
    });
  }

  private async getNotice() {
    try {
      this.notice = await getNotice(this.$route.params.notice);
    } catch (error) {
      this.errorHandling(error);
    }
  }
}
</script>

<style lang="scss" scoped>
.notice {
  padding: 10px;
  margin-bottom: 56px;
}
</style>
