<template>
  <div class="polls">
    <v-row no-gutters justify="center">
      <v-col cols="12" sm="12" md="10" lg="10" class="mb-4">
        <h1 class="display-1 font-weight-bold mb-3">Encuestas</h1>
      </v-col>
      <v-col cols="12" sm="12" md="10" lg="10">
        <transition name="scale-transition" mode="out-in">
          <div v-if="filterData.length != 0">
            <cards v-for="poll in filterData" :key="poll.id">
              <v-avatar slot="image" class="ma-3" size="72" tile color="#fff">
                <v-icon size="52">mdi-format-list-bulleted-square</v-icon>
              </v-avatar>
              <template slot="content">
                <v-card-title class="headline px-0">{{ poll.title }}</v-card-title>
                <v-card-subtitle class="px-0">{{ toLocalDate(poll.createdOn) }}</v-card-subtitle>
              </template>
              <template slot="actions">
                <v-btn
                  color="success"
                  :disabled="poll.isAnswered"
                  depressed
                  link
                  :to="{ name: 'PollUniversity', params: { poll: poll.id } }"
                  >{{ poll.isAnswered ? "Realizada" : "Realizar" }}</v-btn
                >
              </template>
            </cards>
          </div>
          <no-data v-else key="no-data" :loading="isLoading"></no-data>
        </transition>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import { Mixins, Component } from "vue-property-decorator";
import { getUniversityPolls } from "@/services/polls";
import { Poll } from "@/models/poll";
import { NotificationsMixin } from "@/mixins/notifications";
import NoData from "@/components/List/NoData.vue";
import Cards from "@/components/List/Cards.vue";
import { Enrollment } from "@/models/enrollment";

@Component({
  components: {
    NoData,
    Cards
  }
})
export default class Polls extends Mixins(NotificationsMixin) {
  private publishDialog = false;
  private polls: Poll[] = [];
  private isLoading = false;
  private selectedPollId = "";
  private search = "";

  private created() {
    this.isLoading = true;
    this.getPublishedPolls().then(() => {
      this.isLoading = false;
    });
  }

  private async getPublishedPolls() {
    try {
      const polls = await getUniversityPolls(this.universityId, this.$store.state.userModule.session?.user?.nameid);
      this.polls = polls;
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private setPoll(poll: Poll) {
    this.selectedPollId = poll.id;
  }

  private toLocalDate(date: string) {
    const options = { weekday: "long", year: "numeric", month: "long", day: "numeric" };
    const localDate = new Date(date).toLocaleDateString("es-ES", options);
    return localDate;
  }

  private get filterData() {
    return this.polls.filter(career => {
      return career.title.toLowerCase().includes(this.search.toLowerCase());
    });
  }

  private get universityId() {
    return this.$store.state.university.id;
  }

  private get isProfessorEnrolled(): boolean {
    const enrollment = this.$store.state.userModule.session?.enrollments.find((enrollment: Enrollment) => {
      return enrollment.id == this.$route.params.course;
    });
    return enrollment?.isProfessorEnrollment ?? false;
  }
}
</script>

<style lang="scss" scoped>
.polls {
  padding: 2rem;
}
</style>
