<template>
  <div class="preferences">
    <v-card flat>
      <v-card-title>Seleccione la apariencia del sistema</v-card-title>
      <v-card-subtitle>Seleccione los colores de la plataforma</v-card-subtitle>
      <v-card-text>
        <v-row no-gutters justify="center">
          <v-col cols="12">
            <v-menu :close-on-content-click="false" max-width="300">
              <template v-slot:activator="{ on }">
                <v-text-field
                  prepend-inner-icon="mdi-palette"
                  label="Color Primario"
                  v-model="primary"
                  v-on="on"
                  filled
                  rounded
                >
                  <div
                    slot="append"
                    class="rounded mt-2"
                    style="width: 15px; height: 15px;"
                    :style="`background: ${primary}`"
                  ></div>
                </v-text-field>
              </template>
              <v-color-picker dot-size="25" swatches-max-height="200" v-model="primary"></v-color-picker>
            </v-menu>

            <v-menu :close-on-content-click="false" max-width="300">
              <template v-slot:activator="{ on }">
                <v-text-field
                  prepend-inner-icon="mdi-palette"
                  label="Color Secundario"
                  v-model="secondary"
                  v-on="on"
                  filled
                  rounded
                >
                  <div
                    slot="append"
                    class="rounded mt-2"
                    style="width: 15px; height: 15px;"
                    :style="`background: ${secondary}`"
                  ></div>
                </v-text-field>
              </template>
              <v-color-picker dot-size="25" swatches-max-height="200" v-model="secondary"></v-color-picker>
            </v-menu>
          </v-col>
          <v-col cols="10">
            <v-card elevation="2" tile>
              <v-toolbar :color="primary" elevation="2">
                <div class="d-flex align-center">
                  <v-img
                    alt="Vuetify Logo"
                    class="shrink mr-2"
                    contain
                    :src="require('@/assets/images/logote.png')"
                    transition="scale-transition"
                    width="105"
                  />
                </div>

                <v-spacer></v-spacer>

                <v-btn text dark class="px-0" small>
                  <span class="mr-2">Acceder</span>
                  <v-icon>mdi-login-variant</v-icon>
                </v-btn>
              </v-toolbar>
              <v-card-text>
                <v-text-field filled rounded dense prepend-inner-icon="mdi-magnify" disabled></v-text-field>
                <v-skeleton-loader class="mx-auto" max-width="300" type="list-item-avatar-two-line"></v-skeleton-loader>
                <v-skeleton-loader class="mx-auto" max-width="300" type="list-item-avatar-two-line"></v-skeleton-loader>
              </v-card-text>
              <v-card-actions style="border-top: 1px solid #f0f0f0">
                <v-btn icon class="mx-6">
                  <v-icon>mdi-account</v-icon>
                </v-btn>

                <v-spacer></v-spacer>

                <v-btn icon class="mx-6" :color="secondary">
                  <v-icon>mdi-magnify</v-icon>
                </v-btn>

                <v-spacer></v-spacer>

                <v-btn icon class="mx-6">
                  <v-icon>mdi-message-text-outline</v-icon>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
          <v-col cols="12" class="mt-10">
            <v-btn color="success" block large>Actualizar</v-btn>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class Preferences extends Vue {
  private primary = "#2196F3";
  private secondary = "#00bcd4";
}
</script>

<style lang="scss" scoped>
.preferences {
  padding: 10px;
  margin-bottom: 56px;
}
</style>
