<template>
  <div class="professors full-height">
    <v-spacer></v-spacer>
    <div class="professors">
      <v-row no-gutters justify="center">
        <v-col cols="12" sm="12" md="10" lg="10" align-self="start">
          <v-col cols="12" sm="12" md="10" lg="6">
            <v-text-field
              dense
              hide-details
              v-model="searchParameter"
              label="Buscar docentes..."
              prepend-inner-icon="mdi-magnify"
              filled
              rounded
              class="pb-4 pt-6"
            ></v-text-field>
          </v-col>
        </v-col>
        <v-col cols="12" sm="12" md="10" lg="10">
          <transition name="scale-transition" mode="out-in">
            <div v-if="filterData.length != 0">
              <div v-for="(professor, index) in filterData" :key="professor.user.id">
                <cards>
                  <v-avatar
                    class="ml-2 mr-4 my-4"
                    slot="image"
                    :color="stringToColor(professor.user.firstName + professor.user.lastName) + '80'"
                    size="80"
                  >
                    <span class="white--text headline">{{
                      professor.user.firstName[0] + professor.user.lastName[0]
                    }}</span>
                  </v-avatar>
                  <template slot="content">
                    <v-card-title class="headline px-0" :style="$vuetify.breakpoint.xsOnly ? 'max-width: 230px;' : ''"
                      >{{ professor.user.firstName }} {{ professor.user.lastName }}</v-card-title
                    >
                    <v-card-subtitle class="px-0">{{ professor.user.email }}</v-card-subtitle>
                  </template>
                  <div slot="actions" v-if="isProfessorResponsable">
                    <v-btn color="error" depressed @click="removeProfessor(professor.id, index)">Eliminar</v-btn>
                  </div>
                </cards>
              </div>
            </div>
            <no-data v-else key="no-data" :loading="isLoading"></no-data>
          </transition>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Mixins } from "vue-property-decorator";
import Cards from "@/components/List/Cards.vue";
import NoData from "@/components/List/NoData.vue";
import { NotificationsMixin } from "@/mixins/notifications";
import { ProfessorsEnrollments } from "@/models/enrollment";
import { getEnrolledProfessors, removeProfessor } from "@/services/enrollments";
import { UtilitiesMixin } from "@/mixins/utilities";
import { Enrollment } from "@/models/enrollment";

@Component({ components: { Cards, NoData } })
export default class ProfessorsList extends Mixins(NotificationsMixin, UtilitiesMixin) {
  private searchParameter = "";
  private isLoading = false;
  private enrolledProfessors: ProfessorsEnrollments[] = [];

  private get filterData() {
    return this.enrolledProfessors.filter(professor => {
      return (
        professor.user.firstName.toLowerCase().includes(this.searchParameter.toLowerCase()) ||
        professor.user.lastName.toLowerCase().includes(this.searchParameter.toLowerCase())
      );
    });
  }

  private created() {
    this.isLoading = true;
    this.getEnrolledProfessors().then(() => {
      this.isLoading = false;
    });
  }

  private async getEnrolledProfessors() {
    try {
      this.enrolledProfessors = await getEnrolledProfessors(this.$route.params.course);
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private get isProfessorResponsable(): boolean {
    const enrollment = this.$store.state.userModule.session?.enrollments.find((enrollment: Enrollment) => {
      return enrollment.id == this.$route.params.course;
    });
    return enrollment?.isResponsible ?? false;
  }

  private async removeProfessor(enrollmentId: string, index: number) {
    try {
      await removeProfessor(this.$route.params.course, enrollmentId);
      console.log(index);
      console.log(this.filterData.splice(index, 1));
      const enrolledIndex = this.enrolledProfessors.findIndex(e => e.id == enrollmentId);
      this.enrolledProfessors.splice(enrolledIndex, 1);
      this.success("Profesor", "Se elimino el profesor de este curso");
    } catch (error) {
      this.errorHandling(error);
    }
  }
}
</script>

<style lang="scss" scoped>
.list__overflow {
  max-height: 67vh !important;
  overflow-y: auto !important;
}
.professors {
  margin-bottom: 56px;
  width: 100%;
}
.list {
  display: flex;
  align-items: center;
}
</style>
