<template>
  <div class="profile" v-if="$vuetify.breakpoint.xsOnly">
    <v-card flat>
      <v-card-text>
        <v-form ref="update-professor" lazy-validation>
          <v-row no-gutters>
            <v-col class="avatar-col" cols="12" sm="6" md="4">
              <v-avatar v-if="!hasName" color="white" :size="$vuetify.breakpoint.xs ? 100 : 130">
                <v-icon light size="130">mdi-account-circle</v-icon>
              </v-avatar>
              <v-avatar
                v-else
                :color="stringToColor(professor.firstName + professor.lastName)"
                :size="$vuetify.breakpoint.xs ? 100 : 130"
              >
                <span class="white--text display-1"
                  >{{ professor.firstName.toUpperCase()[0] }}{{ professor.lastName.toUpperCase()[0] }}</span
                >
              </v-avatar>
            </v-col>
            <v-col class="role-col" cols="12" sm="6" md="4" align-self="center">
              <v-chip
                v-for="(role, index) in professor.roles"
                :key="role"
                slot="online"
                :class="index == 1 ? 'ml-2 mt-4' : 'mt-4'"
                color="green"
                outlined
                label
              >
                {{ role === "Professor" ? "Docente" : "Estudiante" }}
              </v-chip>
            </v-col>
            <v-col cols="12" sm="6" md="4" class="mt-4">
              <v-text-field label="Cedula de Identidad" disabled :value="professor.ci" filled rounded></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="4">
              <v-text-field
                label="Correo Electronico"
                filled
                rounded
                append-icon="mdi-border-color"
                v-model="professorCopy.email"
                :rules="[rules.required]"
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="4">
              <v-text-field
                label="Nombre"
                filled
                rounded
                append-icon="mdi-border-color"
                v-model="professorCopy.firstName"
                :rules="[rules.required]"
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="4">
              <v-text-field
                label="Apellido"
                filled
                rounded
                append-icon="mdi-border-color"
                v-model="professorCopy.lastName"
                :rules="[rules.required]"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-btn color="primary" large @click="updateProfessor" :loading="isLoading" block>
          Confirmar
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script lang="ts">
import { Component, Mixins } from "vue-property-decorator";
import NoData from "@/components/List/NoData.vue";
import { NotificationsMixin } from "@/mixins/notifications";
import { UtilitiesMixin } from "@/mixins/utilities";
import { RulesMixin } from "@/mixins/rules";
import { GetProfessor } from "@/models/professor";
import { getProfessor, updateProfessor } from "@/services/professors";

@Component({ components: { NoData } })
export default class Profile extends Mixins(NotificationsMixin, UtilitiesMixin, RulesMixin) {
  private isLoading = false;
  private professor: GetProfessor = {
    id: "",
    ci: "",
    firstName: "",
    lastName: "",
    email: "",
    roles: []
  };
  private professorCopy = {
    firstName: "",
    lastName: "",
    email: ""
  };

  $refs!: {
    "update-professor": HTMLFormElement;
  };

  private created() {
    this.getProfessor();
  }

  private get hasName(): boolean {
    return !!this.professor.firstName || !!this.professor.lastName;
  }

  private get user() {
    return this.$store.state.userModule.session.user;
  }

  private async getProfessor() {
    try {
      this.professor = await getProfessor(this.user?.nameid);
      this.professorCopy = { ...this.professor };
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private async updateProfessor() {
    if (this.$refs["update-professor"].validate()) {
      try {
        this.isLoading = true;
        await updateProfessor(
          {
            firstName: this.professorCopy.firstName,
            lastName: this.professorCopy.lastName,
            email: this.professorCopy.email
          },
          this.professor.id
        );
        this.$store.commit("userModule/CHANGE_USER_DATA", { ...this.professorCopy });
        this.success("PERFIL", "Se ha actualizado el perfil correctamente");
      } catch (error) {
        this.errorHandling(error);
        this.professorCopy = this.professor;
      } finally {
        this.isLoading = false;
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.profile {
  margin-bottom: 56px;
}
.avatar-col {
  display: flex !important;
  justify-content: center !important;
}

.role-col {
  display: flex !important;
  justify-content: center !important;
}
</style>
