<template>
  <div class="reset-password full-height">
    <v-img
      alt="Logo"
      contain
      :src="require('@/assets/images/logo.jpg')"
      transition="scale-transition"
      :width="$vuetify.breakpoint.xsOnly ? '0' : '128'"
      class="reset-password__logo ma-0"
    />
    <v-img
      alt="Waves"
      contain
      :src="require('@/assets/images/login-image.svg')"
      transition="scale-transition"
      class="reset-password__waves mb-auto"
      :width="$vuetify.breakpoint.xsOnly ? '250' : '45%'"
    />
    <v-row no-gutters class="full-height" align="center" justify="center">
      <v-card flat width="400" class="mt-sm-0 mt-12">
        <v-card-title style="justify-content: center;">Establecer Contraseña</v-card-title>
        <v-card-text>
          <v-form lazy-validation ref="form">
            <v-text-field
              label="Contraseña"
              v-model="password"
              :rules="[rules.minPassword]"
              @keydown.enter="resetPassword"
              prepend-inner-icon="mdi-lock"
              rounded
              filled
              :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
              :type="showPassword ? 'text' : 'password'"
              @click:append="showPassword = !showPassword"
            ></v-text-field>
            <v-text-field
              label="Confirmar Contraseña"
              v-model="confirmPassword"
              :rules="[rules.minPassword, v => v == password || 'La contraseña deben de coincidir']"
              @keydown.enter="resetPassword"
              prepend-inner-icon="mdi-lock"
              rounded
              :append-icon="showConfirmPassword ? 'mdi-eye' : 'mdi-eye-off'"
              :type="showConfirmPassword ? 'text' : 'password'"
              @click:append="showConfirmPassword = !showConfirmPassword"
              filled
            ></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn color="success" large block @click="resetPassword">Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-row>
  </div>
</template>

<script lang="ts">
import { Component, Mixins } from "vue-property-decorator";
import { resetPassword, validateToken } from "@/services/users";
import { NotificationsMixin } from "@/mixins/notifications";
import { RulesMixin } from "@/mixins/rules";

@Component({})
export default class ResetPassword extends Mixins(NotificationsMixin, RulesMixin) {
  $refs!: {
    form: HTMLFormElement;
  };
  private password = "";
  private confirmPassword = "";
  private showPassword = false;
  private showConfirmPassword = false;

  private created() {
    this.validateToken();
  }

  private async validateToken() {
    try {
      await validateToken(this.$route.params.token);
    } catch (error) {
      if (error.isAxiosError && error.response) {
        if (error.response.status === 404) {
          this.$router.push({ name: "Invalid Token" });
        } else {
          this.error("Error", error.response.data.message);
        }
      } else {
        this.$router.push({ name: "404", params: { "0": "" } });
        this.error("Error", "Oops algo salio mal :(");
      }
    }
  }

  private async resetPassword() {
    if (this.$refs.form.validate()) {
      try {
        await resetPassword(this.$route.params.token, this.password);
        this.success("Usuario", "Se establecio su contraseña correctamente");
        this.$router.push({ name: "Landing" });
      } catch (error) {
        this.errorHandling(error);
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.reset-password {
  padding: 10px;
  margin-bottom: 56px;

  .reset-password__waves {
    position: fixed;
    top: 0;
    right: 0;
    opacity: 1;
  }

  .reset-password__logo {
    position: fixed;
    height: 100px;
    top: 10px;
    left: 10px;
    z-index: 10;
  }
}
</style>
