<template>
  <div class="students full-height">
    <v-spacer></v-spacer>
    <div class="students">
      <v-row no-gutters justify="center">
        <v-col cols="12" sm="12" md="10" lg="10" align-self="start">
          <v-col cols="12" sm="12" md="10" lg="6">
            <v-text-field
              dense
              hide-details
              v-model="searchParameter"
              label="Buscar estudiantes..."
              prepend-inner-icon="mdi-magnify"
              filled
              rounded
              class="pb-4 pt-6"
            ></v-text-field>
          </v-col>
        </v-col>
        <v-col cols="12" sm="12" md="10" lg="10">
          <transition name="scale-transition" mode="out-in">
            <div v-if="filterData.length != 0">
              <div v-for="student in filterData" :key="student.user.id">
                <cards>
                  <v-avatar
                    class="ml-2 mr-4 my-4"
                    slot="image"
                    :color="stringToColor(student.user.firstName + student.user.lastName) + '80'"
                    size="80"
                  >
                    <span class="white--text headline">{{ student.user.firstName[0] + student.user.lastName[0] }}</span>
                  </v-avatar>
                  <template slot="content">
                    <v-card-title class="headline px-0" :style="$vuetify.breakpoint.xsOnly ? 'max-width: 230px;' : ''"
                      >{{ student.user.firstName }} {{ student.user.lastName }}</v-card-title
                    >
                    <v-card-subtitle class="px-0">{{ student.user.email }}</v-card-subtitle>
                  </template>
                </cards>
              </div>
            </div>
            <no-data v-else key="no-data" :loading="isLoading"></no-data>
          </transition>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Mixins } from "vue-property-decorator";
import Cards from "@/components/List/Cards.vue";
import NoData from "@/components/List/NoData.vue";
import { NotificationsMixin } from "@/mixins/notifications";
import { StudentsEnrollments } from "@/models/enrollment";
import { getEnrolledStudents } from "@/services/enrollments";
import { UtilitiesMixin } from "@/mixins/utilities";

@Component({ components: { Cards, NoData } })
export default class StudentsList extends Mixins(NotificationsMixin, UtilitiesMixin) {
  private searchParameter = "";
  private isLoading = false;
  private enrolledStudents: StudentsEnrollments[] = [];

  private get filterData() {
    return this.enrolledStudents.filter(student => {
      return (
        student.user.firstName.toLowerCase().includes(this.searchParameter.toLowerCase()) ||
        student.user.lastName.toLowerCase().includes(this.searchParameter.toLowerCase())
      );
    });
  }

  private created() {
    this.isLoading = true;
    this.getEnrolledStudents().then(() => {
      this.isLoading = false;
    });
  }

  private async getEnrolledStudents() {
    try {
      this.enrolledStudents = await getEnrolledStudents(this.$route.params.course);
    } catch (error) {
      this.errorHandling(error);
    }
  }
}
</script>

<style lang="scss" scoped>
.list__overflow {
  max-height: 67vh !important;
  overflow-y: auto !important;
}
.students {
  margin-bottom: 56px;
  width: 100%;
}
.list {
  display: flex;
  align-items: center;
}
</style>
