<template>
  <v-form class="form pa-6 ma-auto">
    <v-card flat>
      <v-card-text>
        <span class="form__title">Acceder</span>
        <p class="form__subtitle mt-5">Bienvenido de vuelta!</p>
        <v-form lazy-validation ref="login-form">
          <v-text-field
            filled
            rounded
            :rules="[rules.minPassword]"
            v-model="ci"
            @keydown.enter="doLogin"
            prepend-inner-icon="mdi-card-bulleted"
            @keypress="onlyNumber"
            label="Cedula"
            color="primary"
          ></v-text-field>
          <v-text-field
            filled
            rounded
            :rules="[rules.required]"
            v-model="password"
            @keydown.enter="doLogin"
            prepend-inner-icon="mdi-lock"
            label="Contraseña"
            type="password"
            color="primary"
          ></v-text-field>
        </v-form>
        <p class="form__link" @click="showRecoverPassword = true">¿Olvidó su nombre de usuario o contraseña?</p>
      </v-card-text>
      <v-card-actions>
        <v-btn @click="doLogin" :loading="loading" dark depressed block class="form__button">Ingresar</v-btn>
      </v-card-actions>
    </v-card>
    <recover-password v-if="showRecoverPassword" v-model="showRecoverPassword"></recover-password>
  </v-form>
</template>

<script lang="ts">
import { Component, Mixins } from "vue-property-decorator";
import { RulesMixin } from "@/mixins/rules";
import { authenticate } from "@/services/auth";
import { updateHeaders } from "@/plugins/axios";
import { NotificationsMixin } from "@/mixins/notifications";
import jwtDecode from "jwt-decode";
import { University } from "@/models/university";
import RecoverPassword from "@/components/Dialogs/RecoverPassword.vue";
import { getEnrollments } from "@/services/users";

@Component({
  components: {
    RecoverPassword
  }
})
export default class LoginFrom extends Mixins(RulesMixin, NotificationsMixin) {
  $refs!: {
    "login-form": HTMLFormElement;
  };
  private ci = "";
  private password = "";
  private loading = false;
  private showRecoverPassword = false;

  private async doLogin() {
    if (this.$refs["login-form"].validate()) {
      try {
        this.loading = true;
        const tokens = await authenticate({ ci: Number(this.ci), password: this.password }, this.university.id);
        updateHeaders(tokens.accessToken);
        const data = jwtDecode(tokens.accessToken);
        const enrollments = await getEnrollments((data as { nameid: string }).nameid);
        const session = { tokens: tokens, user: data, enrollments };
        this.$store.commit("userModule/SET_SESSION", session);
        this.$router.push(this.university.accessPath);
      } catch (error) {
        this.errorHandling(error);
      } finally {
        this.loading = false;
      }
    }
  }

  private get university(): University {
    return this.$store.state.university;
  }
}
</script>

<style scoped lang="scss">
.form {
  max-width: 450px;
  width: 100%;
  text-align: center;
  z-index: 2;
  transition: all 0.5s cubic-bezier(1, -0.07, 0.66, 1.01);

  .form__button {
    height: 50px !important;
    background: linear-gradient(90deg, #00bcd4, #2196f3);
    box-shadow: 0 0 3px 0 #2196f3 !important;
    font-weight: 600;
  }

  .form__link {
    font-weight: bold;
    cursor: pointer;
  }

  .form__link:hover {
    text-decoration: underline;
  }

  .form__title {
    position: relative;
    font-size: 41px;
    font-weight: 300;
    letter-spacing: 1px;

    &:after {
      content: "";
      width: 100%;
      border-radius: 31px;
      position: absolute;
      background: linear-gradient(90deg, #00bcd4, #2196f3);
      height: 3px;
      top: 50px;
      left: 0;
    }
  }
}
</style>
