<template>
  <v-app>
    <notifications group="feedback" />
    <app-layout>
      <router-view></router-view>
    </app-layout>
  </v-app>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import AppLayout from "@/layouts/AppLayout.vue";

@Component({
  components: {
    AppLayout
  }
})
export default class App extends Vue {}
</script>

<style lang="scss">
/* GENERAL CLASES */

.full-height {
  height: 100% !important;
}

/* NUNITO FONT */
@font-face {
  font-family: "Nunito";
  src: local("Nunito"), url(./assets/fonts/Nunito-Regular.ttf) format("truetype");
}

#app {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
}

img {
  pointer-events: none;
}

/* TRANSITIONS */

/* NOTIFICATIONS */
.notifications {
  top: 0px !important;
  width: 310px !important;
  right: 10px !important;
}

.notification-wrapper {
  margin: 10px 0 !important;
  height: auto !important;
  border-radius: 8px !important;
  opacity: 1 !important;
}

.vue-notification {
  font-size: 14px !important;
  margin: -0px 0px 0px 0px !important;
  margin-right: 0px !important;
  cursor: pointer !important;
  height: 100% !important;
}

.vue-notification-group {
  top: 10px !important;
  right: 10px !important;
}

.vue-notification-wrapper {
  border-radius: 8px !important;
  margin-bottom: 5px !important;
}

.vue-notification-template.vue-notification.warning {
  background-color: #ffbc00 !important;
  border-left: 6px solid #ffd150 !important;
}

.vue-notification-template.vue-notification.error {
  border-left-color: #b82e24 !important;
  border-left: 6px solid #ff8484 !important;
}

.vue-notification-template.vue-notification.info {
  background: #1fa9d8 !important;
  border-left: 6px solid #87d1ea !important;
}

.vue-notification-template.vue-notification.success {
  border-left: 6px solid #648b5b !important;
  background-color: #73b176 !important;
}

.vue-notification .notification-title {
  font-size: 1.2rem;
  font-weight: 100;
}
</style>
