<template>
  <component :is="layout">
    <slot slot="content" />
  </component>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class AppLayout extends Vue {
  private get layout() {
    const layout = this.$route.meta.layout || "DefaultLayout";
    return () => import(`@/layouts/${layout}.vue`);
  }
}
</script>
