<template>
  <div>
    <Header />
    <v-main>
      <v-container fluid>
        <v-scale-transition mode="out-in" origin="top" appear>
          <div style="display: flex;">
            <Sidebar v-if="!$vuetify.breakpoint.xsOnly"></Sidebar>
            <slot name="content" />
          </div>
        </v-scale-transition>
      </v-container>
      <v-fab-transition v-if="!$vuetify.breakpoint.xsOnly">
        <v-btn fab fixed bottom right color="primary" elevation="2" large @click="$router.push({ name: 'Chats' })">
          <v-icon>mdi-message</v-icon>
        </v-btn>
      </v-fab-transition>
    </v-main>
    <bottom-navigation v-if="$vuetify.breakpoint.xsOnly" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Header from "@/components/Layout/Header.vue";
import BottomNavigation from "@/components/Layout/BottomNavigation.vue";
import Sidebar from "@/components/Course/Sidebar.vue";

@Component({
  components: {
    Header,
    BottomNavigation,
    Sidebar
  }
})
export default class CourseLayout extends Vue {}
</script>
