<template>
  <v-main>
    <v-container fluid class="full-height">
      <v-scale-transition mode="out-in" origin="center 0" appear>
        <slot name="content" />
      </v-scale-transition>
    </v-container>
  </v-main>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class DefaultLayout extends Vue {}
</script>
