<template>
  <v-dialog :value="value" @input="close" width="400px" overlay-opacity="0.8" overlay-color="white">
    <v-card class="pt-4 delete-dialog">
      <v-card-title class="delete-dialog__title">
        <v-icon class="mb-1 mr-2">mdi-alert</v-icon>
        Eliminar {{ type }}
      </v-card-title>
      <v-card-text class="pt-8 text-center">¿ Estas seguro de esta accion ? </v-card-text>
      <v-card-actions>
        <v-row no-gutters>
          <v-col cols="12" class="text-end">
            <v-btn text class="mr-1" @click.native="close">Cerrar</v-btn>
            <v-btn dark color="#09c78a" class="ml-1" depressed @click.native="$emit('confirm')">
              Confirmar
            </v-btn>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

@Component({})
export default class Delete extends Vue {
  @Prop({ default: false }) value!: boolean;
  @Prop({ default: "" }) type!: string;

  private close() {
    this.$emit("input");
  }
}
</script>

<style lang="scss" scoped>
.delete-dialog {
  border-top: 5px solid #444fee;

  .delete-dialog__title {
    justify-content: center;
    padding: 0;
  }
}
</style>
