<template>
  <v-dialog v-if="value" :value="value" @input="close" width="450px" overlay-opacity="0.8" overlay-color="white">
    <v-card class="pt-4 delete-dialog">
      <v-card-title class="delete-dialog__title">
        Recuperar Contraseña
      </v-card-title>
      <v-card-text class="text-left pt-5">
        Por favor, ingresa tu cedula para recuperar tu contraseña
        <v-text-field
          label="Cedula de Identidad"
          v-model="userCi"
          @keypress="onlyNumber"
          @keydown.enter="handleRecoverPassword"
          :rules="[rules.minPassword]"
        ></v-text-field>
      </v-card-text>
      <v-card-actions>
        <v-row no-gutters>
          <v-col cols="12" class="text-end">
            <v-btn text class="mr-1" @click.native="close">Cerrar</v-btn>
            <v-btn
              dark
              color="#09c78a"
              class="ml-1"
              depressed
              @click.native="handleRecoverPassword"
              :loading="isLoading"
            >
              Confirmar
            </v-btn>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Prop, Mixins } from "vue-property-decorator";
import { RulesMixin } from "@/mixins/rules";
import { NotificationsMixin } from "@/mixins/notifications";
import { recoverPassword } from "@/services/users";
import { University } from "@/models/university";

@Component({})
export default class RecoverPassword extends Mixins(RulesMixin, NotificationsMixin) {
  @Prop({ default: false }) value!: boolean;

  private userCi = "";
  private isLoading = false;

  private get university(): University {
    return this.$store.state.university;
  }

  private close() {
    this.$emit("input");
  }

  private async handleRecoverPassword() {
    try {
      this.isLoading = true;
      await recoverPassword(this.university.id, this.userCi);
      this.close();
      this.success("Recuperar contraseña", "Se le ha enviado un correo electrónico para recuperar su contraseña");
    } catch (error) {
      this.errorHandling(error);
    } finally {
      this.isLoading = false;
    }
  }
}
</script>

<style lang="scss" scoped>
.delete-dialog {
  border-top: 5px solid #444fee;

  .delete-dialog__title {
    justify-content: center;
    padding: 0;
  }
}
</style>
